<footer class="alt-background">
  <div class="text-center mx-auto content-width-lg">
    <div class="row text-center text-md-left">
      <div class="col-md-4 col-lg-4 col-xl-4">
        <h6 class="text-uppercase mb-4 font-weight-bold">NEW ACROPOLIS UK</h6>
        <p id="yellow_txt">Address:</p>
        <p>19 Compton Terrace,</p>
        <p>London, N1 2UN</p>
        <p id="yellow_txt">Telephone:</p>
        <p>0207 359 0059</p>
        <p id="yellow_txt">Nearest tube:</p>
        <p>Highbury & Islington,</p>
        <p>Victoria Line</p><br>
        
        <a href="#" data-toggle="modal" data-target="#sendMessageModal"><p id="yellow_txt">SEND US A MESSAGE</p></a>
     
        <div class="modal fade" id="sendMessageModal" tabindex="-1" role="dialog" aria-labelledby="sendMessageModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="sendMessageModalLabel">Send us a message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body pb-0">
                  {% if contact_form %}
                  <form id='contact_form' action="/" method=post>
                    {{ contact_form.csrf_token }}
                    <div class="form-group">
                      {{ contact_form.contact_name(placeholder='Your name', class="w-100") }}
                    </div>
                    <div class="form-group">
                        {{ contact_form.contact_email(placeholder='Your email address', class="w-100") }}
                    </div>
                    <div class="form-group">
                        {{ contact_form.contact_reasons(class="w-100") }}
                    </div>
                    <div class="form-group" style="line-height: normal;">
                        {{ contact_form.contact_message(placeholder='Your message', rows=10, class="w-100") }}
                    </div>
                    <div>{{ contact_form.contact_recaptcha(class="w-100") }}</div>
                    <div id='contact_errors' class='d-none' style='line-height:normal;'></div>
                    <div id='send_message_response' class='d-none'></div>
                  </form>
                {% endif %}
              </div>
              <div class="modal-footer pt-2">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="send_message" type="submit" class="btn btn-outline-success">Send message</button>
              </div>
            </div>
          </div>
        </div>

        <div>
          <a id='send_message_icon' data-toggle="modal" data-target="#sendMessageModal" href="#email" class="footer_icon_padding"><img class="footer_icons" src='/static/images/email.png'></a>
          <a href="https://www.instagram.com/newacropolisuk/" class="footer_icon_padding"><img class="footer_icons" src='/static/images/instagram.png'></a>
          <a href="https://www.facebook.com/newacropolisuk/" class="footer_icon_padding"><img class="footer_icons" src='/static/images/facebook.png'></a>
          <a href="https://www.youtube.com/user/nuevacropolisin/featured"><img class="footer_icons" src='/static/images/youtube.png'></a>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div>
          {% if latest_magazine %}
          <img src="{{ IMAGES_URL }}/standard/pdfs/{{latest_magazine.filename}}.png" class="footer_magazine"><br><br>
          <div class="magazine_form_padding">
              {% if slim_subscription_form %}
              <form action="/" method=post>
                {{ slim_subscription_form.csrf_token }}
                {{ slim_subscription_form.slim_subscription_email(class="subscribe", placeholder="Your email address") }}
                {% if slim_subscription_form.slim_subscription_email.errors %}
                <div style="height:30px;padding-top:14px;">
                  <div class="error_text">{{ slim_subscription_form.slim_subscription_email.errors[0] }}</div> 
                </div>
                {% endif %}
                <div style="padding-top:10px;">
                  <input class="submit_button" type="submit" value="Subscribe">
                </div>
              </form>
              {% endif %}
          </div>
          {% endif %}
        </div>
      </div>

      <hr class="w-75 clearfix d-md-none">
      <div class="col-md-4 col-lg-4 col-xl-5">
        <div class="float-md-right">
          <div class="empty_space d-none d-md-block"></div>
          <p class="text-xs-center text-lg-left text-md-left"><a class="privacy_policy" href="/static/pdfs/Website_Privacy_Notice.pdf" target="_blank">Privacy Policy</a></p><br>
          <p class="text-xs-center text-lg-left text-md-left">Reg. Charity No. 1110140</p><br>
          <p class="text-xs-center text-lg-left text-md-left"><a href="https://www.acropolis.org/en/" id="bright_yellow_txt" >NEW ACROPOLIS International</a></p>
        </div>
        <div class="clearfix empty_space d-none d-md-block"></div>
        <div class="footnav">
          <div class="float-md-right">
            <a href="/about" {%- if request.endpoint == "main.about" %} class="active"{% endif %}>About</a>
            <a href="/courses" {%- if request.endpoint == "main.courses" %} class="active"{% endif %}>Courses</a>
            <a href="/events" {%- if request.endpoint == "main.events" %} class="active"{% endif %}>Events</a>
            <a href="/resources" {%- if request.endpoint == "main.resources" %} class="active"{% endif %}>Resources</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

{% if contact_form %}
<script>
$.urlParam = function (name) {
  var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                    .exec(window.location.search);

  return (results !== null) ? results[1] || 0 : false;
}
$(document).ready(function() {
  if ($.urlParam('send_message') == 'true') {
    $('#sendMessageModal').modal('show');
  }

    $('#sendMessageModal').on('shown.bs.modal', function () {
        $('#contact_name').focus();
    })

    $('#sendMessageModal').on('hide.bs.modal', function () {
      grecaptcha.reset();

      $('#send_message_response').addClass('d-none');
      $('#send_message_response').text("");
      $('#contact_errors').addClass('d-none');
      $('#contact_name').val('');
      $('#contact_email').val('');
      $('#contact_message').val('');
      $('#send_message').prop('disabled', false);
  })

    $('#send_message').on('click', function(e) {
      var url = "{{ url_for('main._send_message') }}"; // send the form data here.
      _data = $('#contact_form').serialize();
      $('#contact_errors').html('');
      console.log(_data);
      $.ajax({
          type: "POST",
          url: url,
          data: _data, // serializes the form's elements.
          success: function (data) {
              console.log(data)  // display the returned data in the console.
              if (data) {
                if (data['errors']) {
                  console.log('errors: ' + Object.keys(data['errors']));
                  $('#contact_errors').removeClass('d-none');
                  $('#contact_errors').html('');
                  for (i=0; i<Object.keys(data['errors']).length; i++){
                    $('#contact_errors').append('<div>' + Object.keys(data['errors'])[i].substring(8) + ': ' + data['errors'][Object.keys(data['errors'])[i]][0] + '</div>');
                  }
                }
                else {
                  $('#send_message_response').removeClass('d-none');
                  if (data['error']) {
                    $('#send_message_response').text(data['error']);
                  } else {
                    $('#send_message_response').text("Your message has been sent");
                    $('#send_message').prop('disabled', true);
                    setTimeout(function() { $('#sendMessageModal').modal('hide'); }, 5000);
                  }
                }
              }
            }
      });
      e.preventDefault(); // block the traditional submission of the form.
    });

    {% if contact_form.csrf_token %}

    // Inject our CSRF token into our AJAX request.
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", "{{ contact_form.csrf_token._value() }}")
        }
      }
    })
    {% endif %}
});
</script>
{% endif %}
