<!-- White navbar with NA logo -->
<nav class="navbar navbar-collapse navbar-expand-lg navbar-expand-xl navbar-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img alt="New Acropolis UK" src="/static/images/NA_Logo.png" class="img-fluid">
      </a>
      <div>United Kingdom</div>
  </div>
</nav>
 <!-- Green navbar with menu -->


<nav class="navbar-menu sticky-top navbar-expand-lg navbar-expand-xl navbar-dark">
  <button class="navbar-toggler ml-auto hidden-sm-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span style="color:white;font-family:'AvenirNext-Medium',Helvetica,Arial,serif">
    {% if get_email() %}
    <a style='color:white' href='/admin'>Admin home</a><br>
    <a style='color:white' href='/logout'>Logout</a> {{ get_email() }}
    {% endif %}
  </span>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li {% if request.endpoint == "main.about" %} class="nav-item active"{% endif %}>
          <a class="nav-link" href="/about">About</a>
      </li>
      <li {% if request.endpoint == "main.courses" %} class="nav-item active"{% endif %}>
          <a class="nav-link" href="/courses">Courses</a>
      </li>
      <li {% if request.endpoint == "main.events" %} class="nav-item active"{% endif %}>
          <a class="nav-link" href="/events">Events</a>
      </li>
      <li {% if request.endpoint == "main.resources" %} class="nav-item active"{% endif %}>
        <a class="nav-link" href="/resources">Resources</a>
      </li>
    </ul>
  </div>
</nav>
