{% extends "public_base.html" %}
{% block title %}About{% endblock %}
{% block content %}

{% set philosophyText =  """ 
PHILOSOPHY<br><br>
Philosophy, in its original meaning, is the love of wisdom and the quest to understand the underlying principles of life. In this sense, we are all philosophers. We all have questions and we all have the intuition that there are answers to be found.<br><br>
Every civilization has passed on to us its knowledge and experience of the essential laws of life. A systematic and comparative study of this vast heritage enables us to discover the universal and timeless ideas that have formed characters, shaped visions of the future and helped men and women to meet the challenges of their time.<br><br>
As a School of Philosophy in the Classical Tradition, we offer a wide-ranging programme of studies designed to provide a holistic education - an education that does not just impart knowledge but also awakens and develops our other human faculties such as love, compassion, imagination, intuition, will power, perseverance, and any others that can help us to overcome our individual and collective problems.<br><br>
A philosophical education may not lead to the quick, verifiable and measurable products we are so accustomed to expect. But it can produce a profound transformation within the individual, and therein lies its value.
"""
%}
{% set volunteeringText = """
VOLUNTEERING<br><br>
Philosophy also has a practical aim: to provide human beings with valid tools to meet the individual and collective challenges of today and to create a better world for the next generation. Volunteering forms part of our philosophical training and we actively encourage people to take up their civic responsibility and to become involved in a community project.<br><br>
We all want to be useful and be able to help. Our training programmes for volunteers aim to equip individuals with the necessary skills and know-how to play an active role in society and to prepare them for emergency situations.<br><br>
Our own volunteering projects include helping with the planting and maintenance in Compton Terrace Gardens and looking after two hives in our Melissa Bee Sanctuary. Our school of philosophy itself offers many opportunities as it is run entirely by volunteers. We also regularly work together with other associations and individuals for the benefit of society
"""
%}
{% set cultureText = """
CULTURE<br><br>
What comes first: the human being or culture? This is a chicken and egg question and it is clear that human beings are a product of their culture and that culture is a product of the human being. Culture is education in the widest sense of the word. It is only through culture that human beings can unfold their human-ness. Through the education provided by culture we learn in a few years of our lives what it took humanity thousands of years to learn. In this way, culture has the power to accelerate our evolution.<br><br>
It is often said that the purpose of education is to ‘draw out’ (Latin: educere) the inner potential. Without culture and education we could not develop this potential.<br><br>
Culture transmits values and provides us with forms through which we can express these values. Cultural traditions and celebrations enable us to transcend the secular and enter into contact with the sacred. Many traditions also remind us of the annual cycle of nature and help us to re-connect with nature in a profound way.<br><br>
In New Acropolis we explore various arts, crafts and traditions, visit sites of cultural and historical interest in Britain and abroad, and try to bring people into closer contact with nature.
""" %}


  <div id="banner" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="/static/images/about_banner.jpeg">
          <div class="carousel-caption d-md-block">
            <div class="carousel-banner">
              <div class="w-75 mx-auto dispaly-4">
              <h4>New Acropolis UK is a School of Philosophy that promotes culture and practises volunteering. In the UK we are a registered educational charity. We are also an independent member of the International Organization New Acropolis, which is a non-profit association with affiliated centres in over 50 countries.</h4>
            </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="container-fluid padding">
    <div class="row topic_details_section content-width-lg mx-auto text-center">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="about_hotspot">
          <img src="/static/images/pyramid.png" class="img-fluid half_screen_img">
          <script>
            function philosophyText() {
              document.getElementById("about_us_pyramid_text").scrollTo(0, 0);
              document.getElementById("about_us_pyramid_text").innerHTML = `{{ philosophyText|safe }}`;
            } 
          </script>
          <a onmouseover="philosophyText()">
            <div id="spot-1" class="box">
              <div class="spot-text-1">
                <h5>Philosophy</h5>
              </div>
            </div>
          </a>

          <script>
            function volunteeringText() {
              document.getElementById("about_us_pyramid_text").scrollTo(0, 0);
              document.getElementById("about_us_pyramid_text").innerHTML = `{{ volunteeringText|safe }}`;
            } 
          </script>
          <a onmouseover="volunteeringText()">
            <div id="spot-2" class="box">
              <div class="spot-text-2">
                <h5>Volunteering</h5>
              </div>
            </div>
          </a>

          <script>
            function cultureText() {
              document.getElementById("about_us_pyramid_text").scrollTo(0, 0);
              document.getElementById("about_us_pyramid_text").innerHTML = `{{ cultureText|safe }}`;
            } 
          </script>
          <a onmouseover="cultureText()">
            <div id="spot-3" class="box">
              <div class="spot-text-3">
                <h5>Culture</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="cream_backgroundcolour about_box" id="about_us_pyramid_text">
            {{ philosophyText|safe }}
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid padding blue_background about_blue_box_txt">
    <div class="row text-center padding content-width-lg mx-auto">
      <div class="col-lg-12">
        <h3 id="yellow_txt">Today New Acropolis International is represented in over 50 countries.</h3>
        <h3>The figures below are taken from our 2023 yearbook.</h3>
        <p>To view the 2023 yearbook in full, please see <a href="https://www.acropolis.org/en/international-yearbooks" id="yellow_txt">here</a></p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h4 class="statistics_font">142,855</h4>
        <p id="yellow_txt">participants in our philosophy activities</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h4 class="statistics_font">92,357</h4>
        <p id="yellow_txt">participants in our cultural events</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h4 class="statistics_font">35,900</h4>
        <p id="yellow_txt">participants in our volunteering actions</p>
      </div>
     </div>
  </div>
  
  <div class="container-fluid padding yellow_background">
    <div class="row text-center padding content-width-lg mx-auto">
      <div class="col-lg-12">
        <h2 class="visit_website_section">Find out more about our activities and international locations:
          <br><a href="https://www.acropolis.org/en/">Link to International Website
          <br><a href="https://news.acropolis.org/">Link to our Weekly International News</a></h2>
      </div>
    </div>
  </div>

  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4"> Founding Principles </h1>
      </div>
    </div>
  </div>
  <div class="container-fluid padding content-width">
    <div class="row text-center padding">
      <div class="col-xs-12 col-sm-6 col-md-4 p-5">
        <img src="/static/images/founding-hands.png" class="founding_img"><br><br>
        <h6 class="founding_headings"> FRATERNITY </h6>
        <p class="light_text">To promote an ideal of international fraternity, based on respect for human dignity, beyond racial, sexual, cultural, religious, social or other differences.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 p-5">
        <img src="/static/images/founding-book.png" class="founding_img"><br><br>
        <h6 class="founding_headings"> KNOWLEDGE </h6>
        <p class="light_text">To encourage the love of wisdom through the comparative study of philosophies, religions, sciences and arts, in order to promote the knowledge of the human being, the laws of Nature and the Universe.</p>
      </div>
      <div class="col-xs-12 col-md-4 p-5">
        <img src="/static/images/founding-spiral.png" class="founding_img"><br><br>
        <h6 class="founding_headings"> DEVELOPMENT </h6>
        <p class="light_text">To develop the best of the human potential, by promoting the realization of the human being as an individual and his or her integration as an active and conscious part of society and nature, in order to improve the world.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid padding py-3 cream_backgroundcolour">
    <div class="card content-width-lg mx-auto">
      <div class="row padding">
        <div class="col-md-4 py-0">
          <img src="/static/images/founder.jpg" class="card-img_person card-img">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title" id="blue_txt">FOUNDER of the New Acropolis International</h4>
            <h4 class="card-title">Jorge Angel Livraga Rizzi</h4>
            <p class="card-text" id="light_grey_txt">The many facets of Jorge Angel Livraga Rizzi can be seen reflected in his life's work: the International Organisation New Acropolis, which is present today in over 50 countries. </p>
            <p class="card-text" id="light_grey_txt">His approach consisted in proposing a revival of the idea of a School of Philosophy in the classical tradition and reintroducing the Socratic method as the human being's search for wisdom and knowledge. In antiquity, these schools - such as Plato's Academy, Aristotle's Lyceum or the Neoplatonic School of Alexandria - helped to inject new vitality and to give new direction to the societies of their times. 
              This need for renewal re-emerged in the middle of the 20th century, with deep roots in the classical tradition and a forward looking vision towards the 3rd millennium. </p> <p id="blue_txt"><a href="https://www.acropolis.org/en/our-founder" target="_blank">READ MORE</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid padding blue_background">
    <div class="row text-center padding content-width-lg mx-auto">
      <div class="col-lg-12">
        <h4>
        “Today we emphasise financial, economic or technological support and development. <br>
        But what is needed is the development of the human factor – the unique potential that lies within each individual.
        Our problems are not due to technological failures, but to our human imperfections.” <br><br>
        - Jorge A. Livraga Rizzi, Founder of New Acropolis</h4>
      </div>
    </div>
  </div>

  <div class="container-fluid padding py-3 cream_backgroundcolour">
    <div class="card content-width-lg mx-auto">
      <div class="row padding">
        <div class="col-md-4 py-0">
          <img src="/static/images/international_president.jpg" class="card-img_person card-img">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title" id="blue_txt">CURRENT INTERNATIONAL PRESIDENT</h4>
            <h4 class="card-title" >Carlos Adelantado Puchal</h4>
            <p class="card-text" id="light_grey_txt">Carlos Adelantado was born in Castellón (Spain) on January 1, 1964.</p>
            <p class="card-text" id="light_grey_txt">At the age of 19, while studying philosophy at university, he began attending classes at the New Acropolis School of Philosophy in Castellón and supporting its many activities. He was later appointed director of the school where, over a period of 23 years, he developed a number of cultural and social volunteering projects under the umbrella of the Castalia Cultural Centre. He was also coordinator of the various New Acropolis centres in the Levante area of Spain. At the same time, he continued to study and teach philosophy and was awarded the degree of "Specialist in Eastern and Western Philosophy” by the International Organization New Acropolis based in Brussels.</p>
            <p class="card-text" id="light_grey_txt">He has been teaching different subjects in the curriculum of the New Acropolis School of Philosophy for more than 30 years, as well as giving lectures and participating in academic conferences. His approach has always emphasized the need to put philosophy into practice and apply it in addressing the problems of today's world.</p>
            <p class="card-text" id="light_grey_txt">In 2013 he moved to Madrid to take over the management of the head office of New Acropolis in Spain and carry out a number of management responsibilities at a national level. In Madrid, he has promoted activities to make the rich historical and artistic heritage of the city known to a wider public, along with other projects for the promotion of culture.</p>
            <p class="card-text" id="light_grey_txt">In 2017 he was appointed Deputy International President of the IONA and in 2020 he took up his current post as International President.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid padding py-3 cream_backgroundcolour">
    <div class="card content-width-lg mx-auto">
      <div class="row padding">
        <div class="col-md-4 py-0">
          <img src="/static/images/honorary_president.jpg" class="card-img_person card-img">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title" id="blue_txt">LATE HONORARY INTERNATIONAL PRESIDENT (died August 2023)</h4>
            <h4 class="card-title" >Delia Steinberg Guzm&#225n</h4>
            <p class="card-text" id="light_grey_txt">As the former honorary president and previously as International president of the International Organisation New Acropolis, Delia Steinberg Guzmán continued and developed the legacy of its founder Jorge Angel Livraga (1931-1991). </p>
            <p class="card-text" id="light_grey_txt">Combining her musical background as a former concert pianist with an eclectic range of university studies in humanities and sciences, she consistently focused her energies on the cultivation of philosophy as a way of life.
            Guided by the idea that the best form of teaching is by example, she concentrated on passing on her practical understanding of philosophy in the classical tradition through classes and lectures and through her numerous writings. 
              Her most recent works in the field of practical philosophy are <i>The Everyday Hero</i>, <i>Philosophy for Living</i> and <i>The Path to Victory</i>.</p>
            <p class="card-text" id="light_grey_txt"> Although she left behind her musical career to devote herself to philosophy, she continued to promote the musical arts as a part of the cultural offering of New Acropolis, founding the <i>Tristan Institute for Music and Arts Education</i>,
              and the <i>Delia Steinberg International Piano Competition</i>, which is aimed at fostering young musical talent.</p>
            <p class="card-text" id="light_grey_txt"> In reality, she always saw a close link between music and philosophy, for as the Roman philosopher Plotinus famously wrote: "Philosophy is a music made by the soul in the silent dimension of the invisible."</p>
            <p clss="blue_txt"><a href="https://www.acropolis.org/en/presidency" target="blank">READ MORE</a></p>
             
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid padding yellow_background">
    <div class="row text-center padding content-width-lg mx-auto">
      <div class="col-lg-12">
        <br>
        <div><img class="img-fluid" src="/static/images/na_logo_white_about.png"></div>
        <h4 class="ourschool_text">
          Our school in the <b>UK</b> was first established in <b>1974</b>, and we have been in <b>Islington</b> since <b>1997</b>.
          At our premises, we hold weekly classes, regular events, and we also have a philosophical library available to members.
        </h4>
        <h4 class="ourschool_text">New Acropolis UK was recognised for its work in education in the <a href="/static/pdfs/Parliamentary_Review_2019.pdf" target="_blank">Parliamentary Review 2019</a>.</h4>

        <h4 class="ourschool_text">We openly welcome visitors, just let us know in advance when you are planning to visit so that we can ensure someone is available to welcome you and show you around.</h4>
      </div>
      <br>
    </div>
  </div>

  <div class="container-fluid padding blue_background">
    <div class="row text-center padding content-width-lg mx-auto">
      <div class="col-lg-12">
        <h4>
          <a href="https://www.acropolis.org/en/where-we-are/">Link to the Schools of New Acropolis around the world</a>
        </h4>
      </div>
    </div>
  </div>
  {% include "components/contact.html" %}

  <script charset="utf-8" type="text/javascript">
    var urlParams = new URLSearchParams(window.location.search);
    subject = urlParams.get('subject');
    if (subject == 'culture') {
      cultureText();
    } else if (subject == 'volunteering') {
      volunteeringText();
    }
  </script>
{% endblock %}
