{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}

{% set philosophyText =  """
Philosophy, in its original meaning, is the love of wisdom and the quest to understand the underlying principles of life. In this sense, we are all philosophers. We all have questions and we all have the intuition that there are answers to be found.<br><br>
Every civilization has passed on to us its knowledge and experience of the essential laws of life. A systematic and comparative study of this vast heritage enables us to discover the universal and timeless ideas that have formed characters, shaped visions of the future and helped men and women to meet the challenges of their time. As a School of Philosophy in the Classical Tradition, we offer a wide-ranging programme of studies designed to provide a holistic education - an education that does not just impart knowledge but also awakens and develops our other human faculties such as love, compassion, imagination, intuition, will power, perseverance, and any others that can help us to overcome our individual and collective problems.<br><br>
A philosophical education may not lead to the quick, veriﬁable and measurable products we are so accustomed to expect. But it can produce a profound transformation within the individual, and therein lies its value.
"""
%}
{% set volunteeringText = """
VOLUNTEERING Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis est quis fermentum hendrerit. Phasellus faucibus sapien a erat aliquet, quis posuere libero ullamcorper. Donec egestas nec arcu vel sollicitudin. Duis at urna enim. Phasellus eu pharetra nulla. Morbi gravida augue id magna varius consequat. Donec commodo, orci sed pellentesque efficitur, orci magna commodo augue, nec viverra neque magna vel erat
"""
%}
{% set cultureText = """
CULTURE Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis est quis fermentum hendrerit. Phasellus faucibus sapien a erat aliquet, quis posuere libero ullamcorper. Donec egestas nec arcu vel sollicitudin. Duis at urna enim. Phasellus eu pharetra nulla. Morbi gravida augue id magna varius consequat. Donec commodo, orci sed pellentesque efficitur, orci magna commodo augue, nec viverra neque magna vel erat
""" %}


<body>
  <div id="banner" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="/static/images/about_us_banner.png">
          <div class="carousel-caption d-md-block">
            <div class="carousel-banner">
              <div class="w-75 mx-auto dispaly-4">
              <h4>New Acropolis is an International Philosophical Movement working across comparative
              Philosophical Study, Culture and working for others through Volunteering</h4>
            </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="container-fluid padding">
    <div class="row topic_details_section">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="about_hotspot">
          <img src="/static/images/pyramid.png" class="img-fluid half_screen_img">
          <script>
            function philosophyText() {
              document.getElementById("about_us_pyramid_text").innerHTML = `{{ philosophyText|safe }}`;
            } 
          </script>
          <a onclick="philosophyText()">
            <div id="spot-1" class="box">
              <div class="spot-text-1">
                <h5>Philosophy</h5>
              </div>
            </div>
          </a>

          <script>
            function volunteeringText() {
              document.getElementById("about_us_pyramid_text").innerHTML = `{{ volunteeringText|safe }}`;
            } 
          </script>
          <a onclick="volunteeringText()">
            <div id="spot-2" class="box">
              <div class="spot-text-2">
                <h5>Volunteering</h5>
              </div>
            </div>
          </a>

          <script>
            function cultureText() {
              document.getElementById("about_us_pyramid_text").innerHTML = `{{ cultureText|safe }}`;
            } 
          </script>
          <a onclick="cultureText()">
            <div id="spot-3" class="box">
              <div class="spot-text-3">
                <h5>Culture</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="cream_backgroundcolour about_box" id="about_us_pyramid_text">
            {{ philosophyText|safe }}
        </div>
      </div>
    </div>
  </div>

  

  <div class="container-fluid padding blue_background about_blue_box_txt">
    <div class="row text-center padding">
      <div class="col-lg-12">
        <h3 id="yellow_txt">Today New Acropolis is present in over 60 countries and growing.</h3>
        <h3>The figures below are taken from our 2019 yearbook.</h3>
        <p>For more information visit our <a href="https://www.acropolis.org/en/" id="yellow_txt">international website</a></p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h1 class="statistics_font">51.013</h1>
        <p id="yellow_txt">Participants on our courses</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h1 class="statistics_font">1.103.252</h1>
        <p id="yellow_txt">Beneficeries & Partners</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h1 class="statistics_font">1.948.485</h1>
        <p id="yellow_txt">Training hours</p>
      </div>
      <div class="col-lg-6 col-md-6">
        <h1 class="statistics_font">2.602.404</h1>
        <p id="yellow_txt">Volunteering Activities throughout the year</p>
      </div>
      <div class="col-lg-6">
        <h1 class="statistics_font">223.801</h1>
        <p id="yellow_txt">Books in our libraries</p>
      </div>
     </div>
  </div>
  
  <div class="container-fluid padding yellow_background">
    <div class="row text-center padding">
      <div class="col-lg-12">
        <h2 class="visit_website_section">Visit our <a href="https://www.acropolis.org/en/">International Website</a> to find out more about our activities and International
            Locations</h2>
      </div>
    </div>
  </div>

  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4"> Founding Charter </h1>
      </div>
    </div>
  </div>
  <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="/static/images/founding-hands.png" class="founding_img"><br><br>
        <h5 class="founding_headings"> FRATERNITY </h5>
        <p class="light_text">To promote an Ideal of international fraternity, based on respect for human dignity, beyond racial, sexual, cultural, religious, social or other differences.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="/static/images/founding-book.png" class="founding_img"><br><br>
        <h5 class="founding_headings"> KNOWLEDGE </h5>
        <p class="light_text">To encourage the love of wisdom through the comparative study of philosophies, religions, sciences and arts, in order to promote the knowledge of the human being, the laws of Nature and the Universe.</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="/static/images/founding-spiral.png" class="founding_img"><br><br>
        <h5 class="founding_headings"> DEVELOPMENT </h5>
        <p class="light_text">To develop the best of the human potential, by promoting the realization of the human being as an individual and his or her integration as an active and conscious part of society and nature, in order to improve the world.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid padding py-3 cream_backgroundcolour">
    <div class="card border_about">
      <div class="row padding">
        <div class="col-md-4">
          <img src="/static/images/man.png" class="card-img_person card-img">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h3 class="card-title" id="blue_txt">FOUNDER</h3>
            <h4 class="card-title">Jorge Agel Livraga Rizzi</h4>
            <p class="card-text">The many facets of Jorge Angel Livraga Rizzi can be seen reflected in his life's work: International Organisation New Acropolis, which is present today in over 60 countries. </p>
            <p class="card-text">His approach consisted in proposing a revival of the idea of a School of Philosophy in the classical tradition and reintroducing the Socratic method as the human being's search for wisdom and knowledge. In antiquity, these schools - such as Plato's Academy, Aristotle's Lyceum or the Neoplatonic School of Alexandria - helped to inject new vitality and to give new direction to the societies of their times. This need for renewal re-emerged in the middle of the 20th century, with deep roots in the classical tradition and forward looking vision towards the 3rd millennium</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid padding blue_background">
    <div class="row text-center padding">
      <div class="col-lg-12">
        <img src="/static/images/quote_img.png" class="quote_img">
      </div>
    </div>
  </div>

  <div class="container-fluid padding py-3 cream_backgroundcolour">
    <div class="card border_about">
      <div class="row padding">
        <div class="col-md-4">
          <img src="/static/images/lady.png" class="card-img_person card-img">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h3 class="card-title" id="blue_txt">CURRENT INTERNATIONAL PRESIDENT</h3>
            <h4 class="card-title">Delia Steinberg Guzman</h4>
            <p class="card-text">As the current president of International Organisation New Acropolis, Delia Steinberg Guzmån has continued and developed the legacy of its founder Jorge Angel Livraga (1931-1991). </p>
            <p class="card-text">Combining her musical background as a former concert pianist with an eclectic range of university studies in humanities and sciences, she has consistently focused her energies on the cultivation of philosophy as a way of life.
            Guided by the idea that the best form of teaching is by example, she has concentrated on passing her practical understanding of philosophy in the classical tradition through classes and lectures and through her humerous writings. 
              Her most recent works in the field of practical philosophy are <i>The Everday Hero</i> and <i>Philosophy for Living</i>.</p>
            <p class="card-text"> Although she left behind her musical career to devote herself to philosophy, she has continued to promote the musical arts as a part of the cultural offering of New Acropolis, founding the <i>Tristan Institute for Music and Arts Education</i>,
              and the <i>Delia Steinberg International Piano Competition</i>, which is aimed at fostering young musical talent.</p>
            <p class="card-text"> In reality, she has always seen a close link between music and philosophy, for as the Roman philosopher Plotinus famously wrote: "Philosophy is a music made by the soul in the silent dimension of the invisible." READ MORE</p>
             
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid padding yellow_background">
    <div class="row text-center padding">
      <div class="col-lg-12">
        <h1>New Acropolis UK</h1>
        <h4 class="ourschool_text">Our school in the <b>UK</b> was first established in <b>1974</b> and we have been in <b>Islington</b> since <b>1997</b>.
            We hold classes and talks here on a regular basis, we have our philosophical library available
            for members and we also have our <b>Melissa Bee Sanctuary</b> with two hives at the rear of the school.</h4>
        <h4 class="ourschool_text">We openly welcome visitors, just let us know in advance of when you are planning
            to visit so that we can ensure someone is availiable to welcome and show you around.</h4>
      </div>
    </div>
  </div>

  {% include "components/contact.html" %}

  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript">
   $(document).ready(function(){
     $('.carousel').slick({
       "autoplay": true,
       "autoplaySpeed": 5000,
     });
   });
  </script>
</body>

{% endblock %}
