{% extends "public_base.html" %}
{% block title %}Article - {{ article.title }}{% endblock %}
{% block content %}
  <div class="container-fluid padding cream_backgroundcolour">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="article_box">
          {% if article.tags %}
          <div class="row text-left pl-3 pb-2">
            {% for tag in article.tags.split(',') %}
              <div class="badge badge-info mr-1">{{tag}}</div>
            {% endfor %}
          </div>
          {% endif %}  
          <h2 class="event_blue">{{ article.title }}</h2>
          <h2 class="event_title">{{ article.author }}</h2><br>
          <p>{{ article.content | safe}}</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div>
          <img src="{{ IMAGES_URL }}/articles/{{ article.image_filename }}" class="img-fluid article_img">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
