<!DOCTYPE html>
<html>
<body>
    <form id='_paypal' target="paypal" action="{{ get_paypal_url() }}" method="post">
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="upload" value="1">
        <input type="hidden" name="custom" value="{{data.order_id}}">
        <input type="hidden" name="lc" value="GB">
        <input type="hidden" name="address_override" value="1">
        <input type="hidden" name="first_name" value="{{data.first_name}}">
        <input type="hidden" name="last_name" value="{{data.last_name}}">
        <input type="hidden" name="address1" value="{{data.address1}}">
        <input type="hidden" name="address2" value="{{data.address2}}">
        <input type="hidden" name="city" value="{{data.city}}">
        <input type="hidden" name="zip" value="{{data.zip}}">
        <input type="hidden" name="country" value="GB">
        <input type="hidden" name="business" value="">
        <input type="hidden" name="shipping_1" value="{{config['DELIVERY_UK']}}">
        <input type="hidden" name="currency_code" value="GBP">
        <input type="hidden" name="return" value="{{config['FRONTEND_BASE_URL']}}/order/end">
        <input type="hidden" name="item_count" value="{{cart['items']|length}}">
        {% for item in cart['items'] %}
            {% if item.quantity | int > 0 %}
        <input type="hidden" name="item_name_{{loop.index}}" value="{{item.product}}">
        <input type="hidden" name="item_number_{{loop.index}}" value="{{item.id}}">
        <input type="hidden" name="amount_{{loop.index}}" value="{{item.price}}">
        <input type="hidden" name="quantity_{{loop.index}}" value="{{item.quantity}}">
            {% endif %}
        {% endfor %}
    </form>
    <script>
        function set_business() {
            var form = document.getElementById("_paypal");
            data = new FormData(form).entries();
            json = Object.assign(...Array.from(data, ([x,y]) => ({[x]:y})));

            var request = new XMLHttpRequest();
            request.open("GET", "/cart/get_account?data=" + JSON.stringify(json));
            request.onreadystatechange = function() {
                if(this.readyState === 4 && this.status === 200 && this.responseText != "error") {
                    document.getElementsByName("business")[0].value = this.responseText;
                    console.log('test - ' + document.getElementsByName("business")[0].value);
                    document.getElementById("_paypal").submit();
                }
                else {
                    window.location.replace("/shop/cart?checkout_resp=error");
                }
            };
            request.send();
        }
        set_business();
    </script>
</body>
</html>