{% extends "public_base.html" %}
{% block title %}Course details{% endblock %}
{% block content %}
  <div class="container-fluid padding cream_backgroundcolour">
    <div class="row topic_details_section">
      <div class="col-xs-12 col-lg-6 ">
        <div class="course_details_text">
          {% set topic = request.args.get('topic') %}
          {% set details = get_course_details(topic) %}
          {{details|safe}}
        </div>
      </div>
      <div class="col-xs-12 col-lg-6 text-center">
        <img src="/static/images/{{ topic }}.png" class="img-fluid half_screen_img">
      </div>
    </div>
  </div>

  {% include "components/topics.html" %}

  {% set extra = get_course_extra(topic) %}
  <div class="course_details_key_padding">
    <div class="course_details_key_box course_details_background">
      <div class="course_details_key_padding">
        <div class="row content-width-lg mx-auto">
          <div class="col-12">
            <h1 class="display-4 text-center font-weight-bold"> KEY IDEAS </h1>
          </div>
        </div>
        <div class="row py-2 content-width-lg mx-auto ml-0">
          <div class="col-xs-12 col-md-6 mx-auto py-0">
            <div class="course_details_text h-100">
              {{extra[0]|safe}}
            </div>
          </div>
          <div class="col-xs-12 col-md-6 py-md-0">
            <img src="/static/images/topics/{{ topic_images[0] }}" class="img-fluid">
          </div>
        </div>
        {% if extra|length > 1 %}
        <div class="row py-2 content-width-lg mx-auto">
          <div class="col-xs-12 col-sm-3 py-sm-0 d-none d-sm-block">
            <img src="/static/images/topics/{{ topic_images[1] }}" class="img-fluid">
          </div>
          <div class="col-xs-12 col-sm-6 mx-auto py-0">
            <div class="course_details_text h-100">
              {{extra[1]|safe}}
            </div>
          </div>
          <div class="col-xs-12 d-block d-sm-none">
            <img src="/static/images/topics/{{ topic_images[1] }}" class="img-fluid">
          </div>
          <div class="col-sm-3 py-0 d-none d-sm-block">
            <img src="/static/images/topics/{{ topic_images[2] }}" class="img-fluid">
          </div>
        </div>
          {% if extra|length > 2 %}
          <div class="row py-2 content-width-lg mx-auto">
            <div class="col-md-6 py-md-0 d-none d-md-block">
              <img src="/static/images/topics/{{ topic_images[3] }}" class="img-fluid">
            </div>
            <div class="col-xs-12 col-md-6 py-0">
              <div class="course_details_text h-100">
                {{extra[2]|safe}}
              </div>
            </div>
            <div class="col-sm-12 d-block d-md-none">
              <img src="/static/images/topics/{{ topic_images[3] }}" class="img-fluid">
            </div>
          </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
  
{% endblock %}
