{% extends "public_base.html" %}
{% block title %}Courses{% endblock %}
{% block content %}

<div id="banner" class="carousel slide">
  <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/static/images/courses-banner.png">
        <div class="carousel-caption d-md-block">
          <div class="carousel-title text-white">Foundation Course</div>
          <div class="carousel-banner">
            <h3> Philosophies of East and West </h3>
            <h5>18-WEEK INTRODUCTION TO THE MAJOR SYSTEMS OF THOUGHT OF EAST & WEST</h5>
          </div>
        </div>
      </div>
  </div>
</div>

{% include "components/topics.html" %}

  <div class="container-fluid padding cream_backgroundcolour">
    <div class="row padding content-width-lg mx-auto">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card mb-3 course_card">
          <div class="row no-gutters">
            <div class="col-lg-5 col-md-5 col-sm-5 col-5 featured_remove_padding_img">
              <img src="/static/images/timeless_universal.png" class="card-img course_card_imgs">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-7 py-0">
              <div class="card-body">
                <h2 class="dark_grey_txt">Timeless & Universal Philosophy</h2>
                <p class="light_text">{{ get_summary_course_details('timeless_universal')|safe }} <a href="{{ url_for('main.course_details', topic='timeless_universal') }}">READ MORE</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card mb-3 course_card">
          <div class="row no-gutters">
            <div class="col-lg-5 col-md-5 col-sm-5 col-5 featured_remove_padding_img">
              <img src="/static/images/india.png" class="card-img course_card_imgs">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-7 py-0">
              <div class="card-body">
                <h2 class="dark_grey_txt">India</h2>
                <p class="light_text">{{ get_summary_course_details('india')|safe }} <a href="{{ url_for('main.course_details', topic='india') }}">READ MORE</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card mb-3 course_card">
          <div class="row no-gutters">
            <div class="col-lg-5 col-md-5 col-sm-5 col-5 featured_remove_padding_img">
              <img src="/static/images/tibet.png" class="card-img course_card_imgs">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-7 py-0">
              <div class="card-body">
                <h2 class="dark_grey_txt">Tibet</h2>
                <p class="light_text">{{ get_summary_course_details('tibet')|safe }} <br><a href="{{ url_for('main.course_details', topic='tibet') }}">READ MORE</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card mb-3 course_card">
          <div class="row no-gutters">
            <div class="col-lg-5 col-md-5 col-sm-5 col-5 featured_remove_padding_img">
              <img src="/static/images/buddhism.png" class="card-img course_card_imgs">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-7 py-0">
              <div class="card-body">
                <h2 class="dark_grey_txt">Buddhism</h2>
                <p class="light_text">{{ get_summary_course_details('buddhism')|safe }} <a href="{{ url_for('main.course_details', topic='buddhism') }}">READ MORE</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card mb-3 course_card">
          <div class="row no-gutters">
            <div class="col-lg-5 col-md-5 col-sm-5 col-5 featured_remove_padding_img">
              <img src="/static/images/china.png" class="card-img course_card_imgs">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-7 py-0">
              <div class="card-body">
                <h2 class="dark_grey_txt">China</h2>
                <p class="light_text">{{ get_summary_course_details('china')|safe }} <a href="{{ url_for('main.course_details', topic='china') }}">READ MORE</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card mb-3 course_card">
          <div class="row no-gutters">
            <div class="col-lg-5 col-md-5 col-sm-5 col-5 featured_remove_padding_img">
              <img src="/static/images/egypt.png" class="card-img course_card_imgs">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-7 py-0">
              <div class="card-body">
                <h2 class="dark_grey_txt">Egypt</h2>
                <p class="light_text">{{ get_summary_course_details('egypt')|safe }} <a href="{{ url_for('main.course_details', topic='egypt') }}">READ MORE</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card mb-3 course_card">
          <div class="row no-gutters">
            <div class="col-lg-5 col-md-5 col-sm-5 col-5 featured_remove_padding_img">
              <img src="/static/images/greece.png" class="card-img course_card_imgs">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-7 py-0">
              <div class="card-body">
                <h2 class="dark_grey_txt">Greece</h2>
                <p class="light_text">{{ get_summary_course_details('greece')|safe }} <a href="{{ url_for('main.course_details', topic='greece') }}">READ MORE</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card mb-3 course_card">
          <div class="row no-gutters">
            <div class="col-lg-5 col-md-5 col-sm-5 col-5 featured_remove_padding_img">
              <img src="/static/images/rome.png" class="card-img course_card_imgs">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-7 py-0">
              <div class="card-body">
                <h2 class="dark_grey_txt">Rome</h2>
                <p class="light_text">{{ get_summary_course_details('rome')|safe }} <a href="{{ url_for('main.course_details', topic='rome') }}">READ MORE</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card mb-3 course_card">
          <div class="row no-gutters">
            <div class="col-lg-5 col-md-5 col-sm-5 col-5 featured_remove_padding_img">
              <img src="/static/images/neoplatonic_school.png" class="card-img course_card_imgs">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-7 py-0">
              <div class="card-body">
                <h2 class="dark_grey_txt">The Neoplatonic School</h2>
                <p class="light_text">{{ get_summary_course_details('neoplatonic_school')|safe }} <a href="{{ url_for('main.course_details', topic='neoplatonic_school') }}">READ MORE</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card mb-3 course_card">
          <div class="row no-gutters">
            <div class="col-lg-5 col-md-5 col-sm-5 col-5 featured_remove_padding_img">
              <img src="/static/images/philosophy_history.png" class="card-img course_card_imgs">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-7 py-0">
              <div class="card-body">
                <h2 class="dark_grey_txt">Philosophy of History</h2>
                <p class="light_text">{{ get_summary_course_details('philosophy_history')|safe }} <br>  <a href="{{ url_for('main.course_details', topic='philosophy_history') }}">READ MORE</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card mb-3 course_card">
          <div class="row no-gutters">
            <div class="col-lg-5 col-md-5 col-sm-5 col-5 featured_remove_padding_img">
              <img src="/static/images/human_being_universe.png" class="card-img course_card_imgs">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-7 py-0">
              <div class="card-body">
                <h2 class="dark_grey_txt">The Human Being & the Universe</h2>
                <p class="light_text">{{ get_summary_course_details('human_being_universe')|safe }} <a href="{{ url_for('main.course_details', topic='human_being_universe') }}">READ MORE</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card mb-3 course_card">
          <div class="row no-gutters">
            <div class="col-lg-5 col-md-5 col-sm-5 col-5 featured_remove_padding_img">
              <img src="/static/images/hermetic_tradition.png" class="card-img course_card_imgs">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-7 py-0">
              <div class="card-body">
                <h2 class="dark_grey_txt">The Hermetic Tradition</h2>
                <p class="light_text">{{ get_summary_course_details('hermetic_tradition')|safe }} <a href="{{ url_for('main.course_details', topic='hermetic_tradition') }}">READ MORE</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid padding cream_backgroundcolour">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4">FURTHER INFORMATION</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid blue_background">
    <div class="row courses_fee_section_padding content-width-lg mx-auto">
      <div class="col-lg-12">
        <h5 id="yellow_txt">The 18-week course will introduce you to the major concepts of Eastern and Western Philosophy and explore their relevance and practical application for our lives. 
          The topics are arranged under three headings: Ethics, Sociopolitics and Philosophy of History.</h5><br>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="courses_boxes">
          <h5>ETHICS</h5>
          <p id="yellow_txt">- Understanding ourselves</p>
          <p>Ethics enquires about moral principles and the impact of individuals on their environment. It is also related to happiness, as it helps us to find the right inner attitude to deal with different life situations in ways that are beneficial to ourselves and others.
            <br>Topics: India, Tibet, Egypt, The Neoplatonic School.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="courses_boxes">
          <h5>SOCIOPOLITICS</h5>
          <p id="yellow_txt">- Living in together harmony with others</p>
          <p>Sociopolitics looks at relationships in society, both between individuals and between the individual and the group. It is concerned with finding principles by which we can create harmonious communities where everyone can flourish.
            <br>Topics: Confucius, Plato and the Stoics.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="courses_boxes">
          <h5>PHILOSOPHY OF HISTORY</h5>
          <p id="yellow_txt">- Being part of something greater</p>
          <p>We are all products of history and at the same time we all contribute to making history. Philosophy of History seeks wisdom in the study of the past and how to apply lessons of history to the present. 
            <br>Topics: Microcosm / Macrocosm and the Cosmovision of Traditional Societies. </p>
        </div><br>
      </div>
      <div class="col-lg-12">
        <div class="courses_big_box">
          <h4 id="blue_txt">Fees for course are £270 inclusive of course notes.</h4><br>
          <h4 id="blue_txt">The first evening can be attended separately, as a taster, and will last for two hours, with a break in the middle.</h4><br>
          <h4 id="blue_txt">The course runs from 7pm to 9.30pm.</h4><br>
          <h4 id="blue_txt">There is a break for refreshments where a home cooked vegetarian meal is available (not included in course fee).</h4>
          <h4 id="blue_txt">If you are interested please fill in your details on this <a href="https://docs.google.com/forms/d/e/1FAIpQLSf3Q_KbMnC5Ij5BJnC18h918ks7rWA5A6jpmbt9uwrNdep-cA/viewform">application form</a></h4>
        </div>
      </div>
    </div>
    <div class="container-fluid padding">
      <div class="row welcome text-center">
        <div class="col-12">
          <h5 class="display-5">Starting dates for next courses will be announced soon.</h5>
        </div>
      </div>
  
      <div class="row text-center content-width-lg mx-auto">
        {% for intro_course in intro_courses %}
          {% for date in intro_course.dates %}
        <div class="row mx-auto">
          <div class="col-md-8 col-sm-12">
            <div class="courses_start_date_box">
              <p>{{strfdate(date)}}<br>
                18-week introduction philosophies of East & West
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="row courses_reserve_box align-items-center">
              <div class="col-md-12">
                <h3><a href='{{url_for("main.event_details", event_id=intro_course.id)}}'>RESERVE MY PLACE</a></h3>
              </div>
            </div>
          </div>
        </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>

 

<div class="container-fluid padding cream_backgroundcolour">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">FURTHER COURSES IN OUR PROGRAMME OF STUDIES</h1>
    </div>
  </div>
  <div class="row">
    <img src="/static/images/courses_further.png" class="foundation_courses_img">
  </div>
</div>
<div>
  <div class="container-fluid foundation_courses_banner">
    <div class="row text-center">
      <div class="col-lg-12">
        
          <div class="content-width mx-auto">
            <h5><b>Following the 18-week foundation course there are advanced courses for those who wish to continue</b></h5>
          </div>
        </div>      
      
    </div>
  </div>
  <div class="container-fluid cream_backgroundcolour padding">
    <div id="blue_txt_foundation" class="courses_foundation_advanced_padding content-width mx-auto">
      <br><p><b><center>PSYCHOLOGY</b><br> How we answer the question ‘who we are and what we may be’ will shape and influence almost every individual and collective decision we make. This course is a practical and theoretical exploration of our ‘psyche’ and its faculties: consciousness, attention, memory, imagination, will, etc. The timeless maxim “Man know thyself” and how we can develop our potential and master ourselves are the keynotes of this course, which includes practical exercises for self-development.</p>
      <br><p><b>WISDOM OF EAST & WEST</b><br>This course follows on from the Foundation Course and runs parallel with Psychology. It takes a look at the bigger questions of life, approaching them from the wisdom traditions of East and West: the enigma of ‘God’, the structure of the universe, the stages of human evolution, the comparative study of religions, the schools of perennial philosophy throughout the ages and teachings regarding the subtle bodies of the human being that have been recognised in many traditional schools of medicine. 
      </p>
      <br><p><b>APPLIED PHILOSOPHY</b><br>The aim of this subject is to show how the timeless wisdom can be applied in the here and now and help us find solutions to our individual and collective challenges. 
      </p>
      <br><p><b>COMPARATIVE STUDY OF SYMBOLISM OF ALL CULTURES</b><br>Symbols are a language we can all recognise but few of us can read. This subject consists of a series of courses that explore the sacred symbols of ancient Egypt, Greece, Rome, India, China, Japan, the Mayas, Incas, Aztecs, etc., as well as the symbolism of plants, minerals, animals and architecture. The aim of the course is to gain a deeper understanding of the importance of the symbolic dimension for the human being and to enable the student to gradually use symbols as bridges to perceive the intelligible world. 
      </p>
      <br><p><b>LATER SUBJECTS IN THE PROGRAMME</b><br>Moral philosophy, Sociopolitics, Oratory, History of Philosophy, History of Religions, Anthropogenesis, Cosmogenesis, Astrology, Philosophy of Science, Metaphysical Aesthetics and many more…
      </center>
      </div>
  </div>

  <div class="container-fluid padding yellow_background">
    <div class="row text-center padding">
      <div class="col-lg-12">
        <h4 class="ourschool_text content-width mx-auto"> “Our philosophy is a philosophy of action, on all the planes to which the consciousness can have access.”
        <br>Jorge A. Livraga Rizzi, Founder of New Acropolis
        </h4>
      </div>
    </div>
  </div>
  <div class="empty_space_sm"></div>
{% endblock %}
