{% extends "base.html" %}
{% block title %}E-shop{% endblock %}

{% block content %}
 <body>
        <div class="container-fluid padding">
          <div class="row text-center">
                <img src="/static/images/eshop_banner.png">
          </div>
        </div>
        <div class="container-fluid padding yellow_background">
            <div class="row text-center padding">
              <div class="col-lg-12">
                <ul class="list-horizontal">
                  <b>SPECIAL OFFER</b>
                  <li>Buy TWO books for the price of ONE! Offer valid until Sunday 23 February</li>
                </ul>    
              </div>
            </div>
          </div>
            <div id="content">
        <div class="cream_backgroundcolour">
            <div class="container-fluid padding">
              <div class="row welcome text-center">
                <div class="col-12">
                  <h1 class="display-4"> Upcoming Courses & Events </h1>
                </div>
              </div>
            </div>
        <div class="container-fluid padding cream_backgroundcolour">
          <div class="row text-center ">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="pcv_padding">
                <div class="pcv_block">
                  <h1> Philosophy </h1>
                  <hr>
                  <p>Comparative study and a way of life aligned with our highest values</p>
                </div>
              </div>
              <img src="/static/images/philosophy_icon.png" class="upw">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="pcv_padding">
                <div class="pcv_block">
                  <h1> Culture </h1>
                  <hr>
                  <p>Enriching the social environment so all individuals can ﬁnd the nutrients they need to ﬂourish</p>
                </div>
              </div>
              <img src="/static/images/culture_icon.png" class="upw">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="pcv_padding">
                <div class="pcv_block">
                  <h1> Volunteering </h1>
                  <hr>
                  <p>To act because it is right and not becasuse it is proﬁtable</p>
                </div>
              </div>
              <img src="/static/images/volunteering_icon.png" class="upw">
            </div>
          </div>
        </div>
      
        <div class="container-fluid padding blue_background">
          <div class="row text-center padding">
            <div class="col-lg-12">
              <h1 id="yellow_txt">Philosophies of East & West</h1>
              <h2 id="yellow_txt">16-week Foundation Course</h2><br>
              <h4>This 16-week foundation course will introduce you to the major concepts of Eastern and Western Philosophy, exploring their relevance and practical application for daily living.</h4><br><br>
              <button type="button" class="btn btn-light">find out more</button>
            </div>
          </div>
        </div> 
          <div class="container-fluid padding text-center">
            <div class="row padding">
              
                <div class="col-md-4 col-sm-6">
                  <div class="card cardmulti bg-light">
                    <img class="card-img-top cardimgtopmulti" src="http://preview.kentsang.co.uk/images//standard/2019/brain1.jpg">
                    
                      <div class="card-body past_card_padding cream_backgroundcolour">
                      <div class="past_corner"><span>Past Event</span></div>
                      <div class="past_card_text_padding">
                    
                      <h4 class="card-title" id="blue_txt">Talk</h4>
                      <p class="card-text cardtextmulti">Thu 31 of October - 7 PM</p>
                      <p class="card-text cardtextmulti dark_grey_txt"><a href="/event_details/28b429ef-95e5-4f0e-90a9-82fd50e834d5">The Mystery Behind the Brain</a></p>
                    
                      </div>
                    
                    </div>
                  </div>
                </div>
              
                <div class="col-md-4 col-sm-6">
                  <div class="card cardmulti bg-light">
                    <img class="card-img-top cardimgtopmulti" src="http://preview.kentsang.co.uk/images//standard/2019/brain1.jpg">
                    
                      <div class="card-body past_card_padding cream_backgroundcolour">
                      <div class="past_corner"><span>Past Event</span></div>
                      <div class="past_card_text_padding">
                    
                      <h4 class="card-title" id="blue_txt">Talk</h4>
                      <p class="card-text cardtextmulti">Tue 6 of August, Sat 7 of September - 7 PM</p>
                      <p class="card-text cardtextmulti dark_grey_txt"><a href="/event_details/27c93ad8-71a3-4775-9506-da9e9f17a2df">The Mystery Behind the Brain</a></p>
                    
                      </div>
                    
                    </div>
                  </div>
                </div>
              
                <div class="col-md-4 col-sm-6">
                  <div class="card cardmulti bg-light">
                    <img class="card-img-top cardimgtopmulti" src="http://preview.kentsang.co.uk/images//standard/2019/philosophy-of-play-alternative2.jpg">
                    
                      <div class="card-body past_card_padding cream_backgroundcolour">
                      <div class="past_corner"><span>Past Event</span></div>
                      <div class="past_card_text_padding">
                    
                      <h4 class="card-title" id="blue_txt">Talk</h4>
                      <p class="card-text cardtextmulti">Wed 31 of July, Fri 1 of November, Fri 10 of January - 7 PM</p>
                      <p class="card-text cardtextmulti dark_grey_txt"><a href="/event_details/c3bdce5a-53db-4eb6-9f94-5284b4e24b8e">Philosophy of Play</a></p>
                    
                      </div>
                    
                    </div>
                  </div>
                </div>
              
            </div>
          </div>
      
          
          <div class="cream_backgroundcolour">
            <div class="container-fluid padding">
              <div class="row welcome text-center">
                <div class="col-12">
                  <h1 class="display-4"> Featured Articles </h1>
                </div>
              </div>
            </div>
            <div class="container-fluid padding">
              <div class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="/static/images/featuredblock.png" class="card-img">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body" id="main_article">
                      <h2 class="dark_grey_txt">The Power of Symbols</h2>
                      <p class="light_text">Symbols hold a powerful attraction for people. Even today, in an age in which materialistic perspectives rule human thought, many ancient symbols such as the ankh, the yin/yang, American Indian designs, pyramids, and many other symbols are quite popular in jewelry and in the home. Why do symbols of the ancient civilizations continue to be an integral part our society, even to the point that corporations use them in commercials, movies, logos, in television documentaries, etc.?
      
      This article focuses on sacred symbols, symbols which contain and represent something metaphysical, and mentions some of the reasons that symbols hold so much fascination.
      
      Symbology, the study of symbols, sounds like a very complicated subject, but... <a href='/article/226b43a7-91ac-4502-8528-db025276e49f'>READ MORE</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div class="container-fluid padding">
            <div class="row padding">
              <div class="col-md-3 col-sm-6">
                <div class="card cardmulti bg-light">
                  <img class="card-img-top cardimgtopmulti" src="/static/images/featured1.png">
                  <div class="card-body">
                    <h4 id="article_1" class="card-title dark_grey_txt">Forty Years Fighting Racism and Intolerance</h4>
                    <p class="card-text cardtextmulti">A century with no solidarity
       One of the worst plagues that the twentieth century has had to 
      bear is racial discrimination. It has not only plunged over half of the human... <a href='/article/e07027ef-22b5-4c95-b7d5-cfdcd4d4c535'>READ MORE</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card cardmulti bg-light">
                  <img class="card-img-top cardimgtopmulti" src="/static/images/featured2.png">
                  <div class="card-body">
                    <h4 id="article_2" class="card-title dark_grey_txt">The Power of Symbols</h4>
                    <p class="card-text cardtextmulti">Symbols hold a powerful attraction for people. Even today, in an age in which materialistic perspectives rule human thought, many ancient symbols such as the ankh, the yin/yang, American Indian designs,... <a href='/article/226b43a7-91ac-4502-8528-db025276e49f'>READ MORE</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card cardmulti bg-light">
                  <img class="card-img-top cardimgtopmulti" src="/static/images/featured3.png">
                  <div class="card-body">
                    <h4 id="article_3" class="card-title dark_grey_txt">Britain&#39;s May Day Celebrations</h4>
                    <p class="card-text cardtextmulti">The present government has proposed changing the date of the May Day Celebrations, currently fixed on the first Monday of May, to a day in October (supposedly better for tourism!). Their... <a href='/article/c50ad106-4976-4be2-bbb2-871e2d1af957'>READ MORE</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card cardmulti bg-light">
                  <img class="card-img-top cardimgtopmulti" src="/static/images/featured4.png">
                  <div class="card-body">
                    <h4 id="article_4" class="card-title dark_grey_txt">Janus</h4>
                    <p class="card-text cardtextmulti">As we move into the New Year, it is interesting to reflect on why the first month has been given the name of January. January is a time of new beginnings,... <a href='/article/26954824-60d2-414d-add4-c3820eb920f2'>READ MORE</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
      
          <div class="container-fluid padding">
            <div class="row text-center padding">
              <div class="col-lg-12 subscribe_section">
                <h1>Subscribe to our free bi-monthly magazine !</h1>
                <h3>Reflective and concise articles on esoterica, philosophy, art, society and more…</h3>
              </div>
            </div>
          </div>
      
          <div class="container-fluid padding">
            <div class="row text-center padding">
              <div class="col-xs-12 col-sm-6 col-md-4 magazine_txt">
                <p>New Acropolis Magazine</p><br>
                <p>Download the latest issue</p>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <a data-target="#modalIMG" data-toggle="modal" href="#" class="color-gray-darker td-hover-none">
                  <img class="card-img-top card_img_size" src="/static/images/home-image-magazine.png">
                </a>
                <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modalIMG" role="dialog" tabindex="-1">
                  <div class="modal-dialog modal-dialog-magazine modal-lg" role="document">
                    <div class="modal-content modal-content-magazine">
                      <div class="modal-body modal-body-magazine mb-0 p-0">
                        <a href="/static/images/home-image-magazine.png" download><img src="/static/images/home-image-magazine.png" style="width:100%"></a>
                      </div>
                      <div class="modal-footer modal-footer-magazine">
                        <div>
                          <a href="/static/images/home-image-magazine.png" target="_blank" download>Download</a>
                        </div>
                        <div>
                          <a href="/static/images/home-image-magazine.png" data-dismiss="modal">Close</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-4 text-center">
                  
                  <form action="/" method=post>
                    <input id="csrf_token" name="csrf_token" type="hidden" value="IjMwNTE4ZjY1NTQxMWRhYTMxMDA2Y2RlYTI3NGJjOGI0NWViYzhjODki.XknKwQ.i__u8sZvjO8Hl-wQf_TCR41SEUM">
                    <input class="magazine_email" id="slim_subscription_email" name="slim_subscription_email" placeholder="Your email address" required type="text" value="">
             
                    
                      <div><input class="submit_button" type="submit" value="Subscribe"></div>
                  </form>
                
                <br><br><br>
                <div class="magazine_box">
                  <p>Annual UK postal subscription 4 Issues £12</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
        <div class="container-fluid padding">
          <div class="row welcome text-center">
            <div class="col-12">
              <h1 class="display-4"> FOUNDING CHARTER </h1>
            </div>
          </div>
        </div>
        <div class="container-fluid padding">
          <div class="row text-center padding">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <img src="/static/images/founding-hands.png" class="founding_img"><br><br>
              <h5 class="founding_headings"> FRATERNITY </h5>
              <p class="light_text">To promote an ideal of international fraternity, based on respect for human dignity, beyond racial, sexual, cultural, religious, social or other differences.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <img src="/static/images/founding-book.png" class="founding_img"><br><br>
              <h5 class="founding_headings"> KNOWLEDGE </h5>
              <p class="light_text">To encourage the love of wisdom through the comparative study of philosophies, religions, sciences and arts, in order to promote the knowledge of the human being, the laws of Nature and the Universe.</p>
            </div>
            <div class="col-xs-12 col-md-4">
              <img src="/static/images/founding-spiral.png" class="founding_img"><br><br>
              <h5 class="founding_headings"> DEVELOPMENT </h5>
              <p class="light_text">To develop the best of the human potential, by promoting the realization of the human being as an individual and his or her integration as an active and conscious part of society and nature, in order to improve the world.</p>
            </div>
          </div>
        </div>
      
        <div class="container-fluid padding cream_backgroundcolour">
          <div class="row welcome text-center">
              <div class="col-12">
              <h1 class="display-4"> CONTACT US </h1>
              </div>
          </div>
      </div>
      <div class="container-fluid padding cream_backgroundcolour">
          <div class="row padding">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
              <a href='https://www.google.com/maps/place/New+Acropolis+Cultural+Association/@51.5449256,-0.1048801,17z/data=!3m1!4b1!4m5!3m4!1s0x48761b64e1e074d7:0x32458fe303edf6e2!8m2!3d51.5449223!4d-0.1026914' target='newwin'>
                  <div class="contactus_padding">
                      <div class="card bg-light">
                          <img class="card-img-top_contact img-fluid" src="/static/images/map.png">
                      </div>
                  </div>
              </a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
              <div class="contactus_text">
                  <br><h5 id="footer_title_txt"><b>NEW ACROPOLIS UK</b></h5>
                  <h5><b>Address:</b></h5>
                  <p>19 Compton Terrace,</p>
                  <p>London, N1 2UN</p>
                  <h5><b>Telephone:</b></h5>
                  <p>0207 359 0059</p>
                  <h5><b>Nearest tube:</b></h5>
                  <p>Highbury & Islington,</p>
                  <p>Victoria Line</p>
              </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
              <div class="contactus_padding">
                  <div class="card bg-light">
                      <img class="card-img-top_contact img-fluid" src="/static/images/home-school-entrance.png">
                  </div>
              </div>
              </div>
          </div>
      </div> 
      
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script type="text/javascript">
         $(document).ready(function(){
           $('.carousel').slick({
             "autoplay": true,
             "autoplaySpeed": 5000,
           });
         });
        </script>
      </body>
      </div>
            <footer>
        <div class="text-center text-md-left">
          <div class="row text-center text-md-left">
            <div class="col-md-4 col-lg-4 col-xl-4">
              <h6 class="text-uppercase mb-4 font-weight-bold">NEW ACROPOLIS UK</h6>
              <p id="yellow_txt">Address:</p>
              <p>19 Compton Terrace,</p>
              <p>London, N1 2UN</p>
              <p id="yellow_txt">Telephone:</p>
              <p>0207 359 0059</p>
              <p id="yellow_txt">Nearest tube:</p>
              <p>Highbury & Islington,</p>
              <p>Victoria Line</p><br>
              
              <a href="#" data-toggle="modal" data-target="#sendMessageModal"><p id="yellow_txt">SEND US A MESSAGE</p></a>
           
              <div class="modal fade" id="sendMessageModal" tabindex="-1" role="dialog" aria-labelledby="sendMessageModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="sendMessageModalLabel">Send us a message</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body pb-0">
                        
                        <form id='contact_form' action="/" method=post>
                          <input id="csrf_token" name="csrf_token" type="hidden" value="IjMwNTE4ZjY1NTQxMWRhYTMxMDA2Y2RlYTI3NGJjOGI0NWViYzhjODki.XknKwQ.i__u8sZvjO8Hl-wQf_TCR41SEUM">
                          <div class="form-group">
                            <input id="contact_name" name="contact_name" placeholder="Your name" required size="60" type="text" value="">
                          </div>
                          <div class="form-group">
                              <input id="contact_email" name="contact_email" placeholder="Your email address" required size="60" type="text" value="">
                          </div>
                          <div class="form-group">
                              <select id="contact_reasons" name="contact_reasons" required><option value="contact">Make contact</option><option value="bug">Report a problem on the website</option><option value="course">Ask about a course</option><option value="talk">Ask about a talk</option><option value="other">Other</option></select>
                          </div>
                          <div class="form-group" style="line-height: normal;">
                              <textarea cols="60" id="contact_message" name="contact_message" placeholder="Your message" required rows="10"></textarea>
                          </div>
                          <div id='contact_errors' class='d-none' style='line-height:normal;'></div>
                          <div id='send_message_response' class='d-none'></div>
                        </form>
                      
                    </div>
                    <div class="modal-footer pt-2">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button id="send_message" type="submit" class="btn btn-outline-success">Send message</button>
                    </div>
                  </div>
                </div>
              </div>
      
              <div>
                <a id='send_message_icon' data-toggle="modal" data-target="#sendMessageModal" href="#email" class="footer_icon_padding"><img class="footer_icons" src='/static/images/email.png'></a>
                <a href="https://www.instagram.com/newacropolisuk/" class="footer_icon_padding"><img class="footer_icons" src='/static/images/instagram.png'></a>
                <a href="https://www.facebook.com/newacropolisuk/" class="footer_icon_padding"><img class="footer_icons" src='/static/images/facebook.png'></a>
                <a href="https://www.youtube.com/user/nuevacropolisin/featured"><img class="footer_icons" src='/static/images/youtube.png'></a>
              </div>
            </div>
            <div class="col-md-3 text-center">
              <div>
                <img src="/static/images/home-image-magazine.png" class="footer_magazine"><br><br>
                <div class="magazine_form_padding">
                  
                    <form action="/" method=post>
                      <input id="csrf_token" name="csrf_token" type="hidden" value="IjMwNTE4ZjY1NTQxMWRhYTMxMDA2Y2RlYTI3NGJjOGI0NWViYzhjODki.XknKwQ.i__u8sZvjO8Hl-wQf_TCR41SEUM">
                      <input class="subscribe" id="slim_subscription_email" name="slim_subscription_email" placeholder="Your email address" required type="text" value="">
                      
                      <div style="padding-top:10px;">
                        <input class="submit_button" type="submit" value="Subscribe">
                      </div>
                    </form>
                  
                </div>
              </div>
            </div>
      
            <hr class="w-100 clearfix d-md-none">
            <div class="col-md-4 col-lg-4 col-xl-5">
              <div class="empty_space d-none d-md-block"></div>
              <p class="text-xs-center text-lg-right text-md-right">FAQ page</p><br>
              <p class="text-xs-center text-lg-right text-md-right"><a class="privacy_policy" href="/static/pdfs/Website_Privacy_Notice.pdf" target="_blank">Privacy Policy</a></p><br>
              <p class="text-xs-center text-lg-right text-md-right">Reg. Charity No. 1110140</p><br>
              <p class="text-xs-center text-lg-right text-md-right"><a href="https://www.acropolis.org/en/" id="bright_yellow_txt" >NEW ACROPOLIS International</a></p>
              <div class="empty_space d-none d-md-block"></div>
              <div class="footnav">
                <a href="/about">About</a>
                <a href="/what-we-offer">What we offer</a>
                <a href="/whats-on">Whats on</a>
                <a href="/resources">Resources</a>
                <a href="/e-shop" id="bright_yellow_txt">E-shop</a>
              </div>
            </div>
          </div>
        </div>
      </footer>
      
      
      <script>
      $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                          .exec(window.location.search);
      
        return (results !== null) ? results[1] || 0 : false;
      }
      $(document).ready(function() {
        if ($.urlParam('send_message') == 'true') {
          $('#sendMessageModal').modal('show');
        }
      
          $('#sendMessageModal').on('shown.bs.modal', function () {
              $('#contact_name').focus();
          })
      
          $('#sendMessageModal').on('hide.bs.modal', function () {
            $('#send_message_response').addClass('d-none');
            $('#contact_errors').addClass('d-none');
            $('#contact_name').val('');
            $('#contact_email').val('');
            $('#contact_message').val('');
            $('#send_message').prop('disabled', false);
        })
      
          $('#send_message').on('click', function(e) {
            var url = "/_send_message"; // send the form data here.
            _data = $('#contact_form').serialize();
            $('#contact_errors').html('');
            console.log(_data);
            $.ajax({
                type: "POST",
                url: url,
                data: _data, // serializes the form's elements.
                success: function (data) {
                    console.log(data)  // display the returned data in the console.
                    if (data) {
                      if (data['errors']) {
                        console.log('errors: ' + Object.keys(data['errors']));
                        $('#contact_errors').removeClass('d-none');
                        $('#contact_errors').html('');
                        for (i=0; i<Object.keys(data['errors']).length; i++){
                          $('#contact_errors').append('<div>' + Object.keys(data['errors'])[i].substring(8) + ': ' + data['errors'][Object.keys(data['errors'])[i]][0] + '</div>');
                        }
                      }
                      else {
                        $('#send_message_response').removeClass('d-none');
                        if (data['error']) {
                          $('#send_message_response').text(data['error']);
                        } else {
                          $('#send_message_response').text("Your message has been sent");
                          $('#send_message').prop('disabled', true);
                          setTimeout(function() { $('#sendMessageModal').modal('hide'); }, 5000);
                        }
                      }
                    }
                  }
            });
            e.preventDefault(); // block the traditional submission of the form.
          });
      
          
      
          // Inject our CSRF token into our AJAX request.
          $.ajaxSetup({
            beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", "IjMwNTE4ZjY1NTQxMWRhYTMxMDA2Y2RlYTI3NGJjOGI0NWViYzhjODki.XknKwQ.i__u8sZvjO8Hl-wQf_TCR41SEUM")
              }
            }
          })
          
      });
      </script>
      
            
            <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
            <script>
            window.cookieconsent.initialise({
              "palette": {
                "popup": {
                  "background": "#216942",
                  "text": "#b2d192"
                },
                "button": {
                  "background": "#afed71"
                }
              },
              "theme": "edgeless",
              "content": {
                "href": "/static/pdfs/Website_Privacy_Notice.pdf"
              }
            });
            </script>
</body>
{% endblock %}
