{% extends "base.html" %}
{% block title %}E-shop{% endblock %}

{% block extra_head %}
<style>
.rotateimg45 {
  -webkit-transform:rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>
{% endblock %}

{% block content %}

<body>
    <div class="container-fluid padding">
        <div class="row text-center">
            <img src="/static/images/eshop_banner.png">
        </div>
    </div>
    <div id="content">
        <div class="cream_backgroundcolour">
            {% if all_events %}
            <div class="container-fluid padding">
                <div class="row welcome text-center">
                    <div class="col-sm-12">
                        <h1 class="display-4">
                            <p style="display:inline" class="text-info">EVENTS </p>& COURSES</p>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container-fluid padding text-center">
                <div class="row padding">
                    {% for event in all_events %}
                    <div class="col-md-4 col-sm-6">
                      <div class="card cardmulti bg-light">
                        <img class="card-img-top cardimgtopmulti" src="{{ IMAGES_URL }}/standard/{{ event.image_filename }}">
                        {% if event.get('past') %}
                          <div class="card-body past_card_padding cream_backgroundcolour">
                          <div class="past_corner"><span>Past Event</span></div>
                          <div class="past_card_text_padding">
                        {% else %}
                          <div class="card-body">
                        {% endif %}
                          <h4 class="card-title" id="blue_txt">{{ event.event_type }}</h4>
                          <p class="card-text cardtextmulti">{{ event.formatted_event_datetimes }}</p>
                          <p class="card-text cardtextmulti dark_grey_txt"><a href="{{ url_for('main.event_details', event_id=event.id) }}">{{ event.title }}</a></p>
                        {% if event.get('past') %}
                          </div>
                        {% endif %}
                        </div>
                      </div>
                    </div>
                  {% endfor %}

                </div>
            </div>
            {% endif %} 
        </div>   
    </div>
            
        <div class="container-fluid padding">
                    <div class="row text-center">
                        <div class="col-sm">
                            <h1 class="display-4">
                                <p style="display:inline" class="text-info">NEW ACROPOLIS </p>MAGAZINE
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="container-fluid padding">
                    <div class="row text-center padding">
                        <div class="col-xs-12 col-md-4 text-center">
                            <br><br><br>
                            <button type="button" class="btn btn-warning btn-lg">
                                <P>BROWSE</P>PAST ISSUES HERE
                            </button>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <a data-target="#modalIMG" data-toggle="modal" href="#"
                                class="color-gray-darker td-hover-none">
                                <img class="card-img-top card_img_size rotateimg45" src="/static/images/home-image-magazine.png">
                            </a>
                            <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modalIMG"
                                role="dialog" tabindex="-1">
                                <div class="modal-dialog modal-dialog-magazine modal-lg" role="document">
                                    <div class="modal-content modal-content-magazine">
                                        <div class="modal-body modal-body-magazine mb-0 p-0">
                                            <a href="/static/images/home-image-magazine.png" download>
                                                <img src="/static/images/home-image-magazine.png" style="width:100%"></a>
                                        </div>
                                        <div class="modal-footer modal-footer-magazine">
                                            <div>
                                                <a href="/static/images/home-image-magazine.png" target="_blank"
                                                    download>Download</a>
                                            </div>
                                            <div>
                                                <a href="/static/images/home-image-magazine.png"
                                                    data-dismiss="modal">Close</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 text-center">
                            <br><br><br>
                            <button type="button" class="btn btn-warning btn-lg">
                                <p>DOWNLOAD</p>THE LATEST ISSUE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}