{% extends "base.html" %}
{% block title %}Resources{% endblock %}

{% block content %}

<div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4"> RESOURCES </h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid padding yellow_background">
    <div class="row padding">
        <div class="col-lg-12">
        <p class="dark_grey_txt content-width mx-auto text-center"> 
            This page is under construction, thank you for your patience.
        </p>
        </div>
    </div>
</div>
<div class="empty_space_sm"></div>

{% endblock %}
