{% extends "public_base.html" %}
{% block title %}Shop{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="/static/css/alt-style.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<script>
    function call_ajax(action, id = "") {
        console.log('call_ajax ' + action + ' - ' + id);
        var request = new XMLHttpRequest();

        request.open("GET", "/cart/" + action + (id ? "/" + id : ""));
        request.onreadystatechange = function() {
            if(this.readyState === 4 && this.status === 200) {
                console.log(this.responseText);
            }
        };
        request.send();
    }

    function cartClick(index, book_id) {
        var button = document.getElementById('cart-' + index);
        call_ajax('add', book_id);
        console.log(button.classList);
        button.classList.add('clicked');

        setTimeout(() => {
            button.classList.remove('clicked');
        }, 2000);
    }
</script>
{% endblock %}

{% block post_header %}
{% if not config.get('SHOW_RESOURCE_MAINTENANCE') %}
<div id="banner" class="carousel slide">
    <img class="d-block w-100 fit-image" src="/static/images/resource-banner.png">
</div>
{% endif %}
{% endblock %}

{% block content %}

{% if config.get('SHOW_RESOURCE_MAINTENANCE') or show_resource_maintenance %}
<div class="container-fluid padding yellow_background">
    <div class="row padding">
        <div class="col-lg-12">
        <p class="dark_grey_txt content-width mx-auto text-center"> 
            This page is under construction, thank you for your patience.
        </p>
        </div>
    </div>
</div>
{% else %}
  <div class="container pt-2">
    <div class="row">
        <div class="col-lg-8">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active shop" id="books-tab" data-toggle="tab" href="#books" role="tab" aria-controls="books" aria-selected="true">BOOKS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link shop" id="gifts-tab" data-toggle="tab" href="#gifts" role="tab" aria-controls="gifts" aria-selected="false">GIFTS</a>
                </li>
            </ul>
            <div class="tab-content pt-2" id="resouce-tab-content">
                <div class="tab-pane fade show active" id="books" role="tabpanel" aria-labelledby="books-tab">
                    {% for book in books %}
                    <div class="row{{ loop.cycle('', ' alt-row-colour') }}">
                        <div class="col-md-6 book-image">
                            <img src="{{ get_images_url() }}/books/{{book.image_filename}}">
                        </div>
                        <div class="col-md-6">
                            <div>{{book.title|upper}}</div>
                            <div class="blue-text">By {{book.author}}</div>
                            <div class="pt-2">
                                {{book.description|safe}}
                            </div>
                            <div class="pt-1 row">
                                {% if is_not_live() %}
                                {% set sandbox = '.sandbox' %}
                                {% endif %}
                                <div class="col-4">
                                    <div class="price p-0 text-center">
                                        &pound;{{ book.price }}
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div>
                                        <button id="cart-{{ loop.index }}" onclick="cartClick({{ loop.index}}, '{{ book.id }}');" class="cart-button">
                                            <span class="add-to-cart">Add to cart</span>
                                            <span class="added">Added</span>
                                            <i class="fas fa-shopping-cart"></i>
                                            <i class="fas fa-box"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-4 text-right">
                                    <div>
                                        <div class="col p-0 pb-2">
                                            <a href="/shop/cart">
                                                <img style="height:30px;" src="/static/images/cart_orange.png">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="gifts" role="tabpanel" aria-labelledby="gifts-tab">
                    <div class="row">
                        <div class="col-12">
                            Gifts coming soon
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-12 pt-0 mt-0">
                    <div class="nav nav-tabs mag" role="tablist">
                        <div class="nav-link active shop mag font-weight-bold">Our Latest Magazine</div>
                    </div>
                    <div class="py-2">

                        <div>
                            <div class="row">
                                <a data-target="#modalIMG" data-toggle="modal" href="#" class="color-gray-darker td-hover-none  mx-auto mx-sm-3">
                                <img class="card-img-top card_img_size" src="{{ get_images_url() }}/standard/pdfs/{{latest_magazine.filename}}.png">
                                </a>
                            </div>
                            <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modalIMG" role="dialog" tabindex="-1">
                                <div class="modal-dialog modal-dialog-magazine modal-lg" role="document">
                                    <div class="modal-content modal-content-magazine">
                                    <div class="modal-body modal-body-magazine mb-0 p-0">
                                        <a href="{{ get_images_url() }}/pdfs/{{latest_magazine.filename}}" download target="_blank">
                                        <img src="{{ get_images_url() }}/standard/pdfs/{{latest_magazine.filename}}.png" style="width:100%">
                                        </a>
                                    </div>
                                    <div class="modal-footer modal-footer-magazine">
                                        <div>
                                        <a href="{{ get_images_url() }}/pdfs/{{latest_magazine.filename}}" target="_blank" download>Download</a>
                                        </div>
                                        <div>
                                        <a href="{{ get_images_url() }}/standard/pdfs/{{latest_magazine.filename}}.png" data-dismiss="modal">Close</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="blue-text mag-text">
                        <a href="{{ get_images_url() }}/pdfs/{{latest_magazine.filename}}" download target="_blank">
                        NEW ACROPOLIS MAGAZINE - {{latest_magazine.title|upper}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}