{% extends "public_base.html" %}
{% block title %}Shop{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="/static/css/alt-style.css" />
{% endblock %}

{% block post_header %}
{% if not config.get('SHOW_RESOURCE_MAINTENANCE') %}
<div id="banner" class="carousel slide">
    <img class="d-block w-100 fit-image" src="/static/images/resource-banner.png">
</div>
{% endif %}
{% endblock %}

{% block content %}

{% if config.get('SHOW_RESOURCE_MAINTENANCE') %}
<div class="container-fluid padding yellow_background">
    <div class="row padding">
        <div class="col-lg-12">
        <p class="dark_grey_txt content-width mx-auto text-center"> 
            This page is under construction, thank you for your patience.
        </p>
        </div>
    </div>
</div>
{% else %}
  <div class="container pt-2">
    <div class="row">
        <div class="col-lg-8">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active shop" id="books-tab" data-toggle="tab" href="#books" role="tab" aria-controls="books" aria-selected="true">BOOKS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link shop" id="gifts-tab" data-toggle="tab" href="#gifts" role="tab" aria-controls="gifts" aria-selected="false">GIFTS</a>
                </li>
            </ul>
            <div class="tab-content pt-2" id="resouce-tab-content">
                <div class="tab-pane fade show active" id="books" role="tabpanel" aria-labelledby="books-tab">
                    {% for book in books %}
                    <div class="row{{ loop.cycle('', ' alt-row-colour') }}">
                        <div class="col-md-6 book-image">
                            <img src="{{ get_images_url() }}/books/{{book.image_filename}}">
                        </div>
                        <div class="col-md-6">
                            <div>{{book.title|upper}}</div>
                            <div class="blue-text">By {{book.author}}</div>
                            <div class="pt-2">
                                {{book.description|safe}}
                            </div>
                            <div class="pt-1 row">
                                {% if is_not_live() %}
                                {% set sandbox = '.sandbox' %}
                                {% endif %}
                                <div class="col-4">
                                    <div class="price p-0 text-center">
                                        &pound;{{ book.price }}
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div>
                                        <form id="paypalForm" target="paypal" action="{{ get_paypal_url() }}" method="post">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="cn" value="Add special instructions to the seller:">
                                        <input type="hidden" name="shopping_url" value="{{ config['FRONTEND_BASE_URL'] }}/shop">
                                        <input type="hidden" name="fee" value="{{book.price}}">
                                        <input type="hidden" name="hosted_button_id" value="{{book.buy_code}}">
                                        <input type="hidden" name="currency_code" value="GBP">
                                        <input 
                                            type="image"
                                            src="/static/images/add_to_cart_orange.png"
                                            border="0"
                                            name="submit"
                                            alt="PayPal - The safer, easier way to pay online."
                                            style="height:30px;"
                                        >
                                        </form>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div>
                                        <form target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" >
                                            <input type="hidden" name="cmd" value="_s-xclick">
                                            <input type="hidden" name="encrypted" value="{{config['PAYPAL_ENCRYPTED']}}">
                                            <input type="image" style="height:30px;" src="/static/images/cart_orange.png" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                                            <img alt="" border="0" src="https://www.sandbox.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </form>
                </div>
                <div class="tab-pane fade" id="gifts" role="tabpanel" aria-labelledby="gifts-tab">
                    <div class="row">
                        <div class="col-12">
                            Gifts coming soon
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-12 pt-0 mt-0">
                    <div class="nav nav-tabs mag" role="tablist">
                        <div class="nav-link active shop mag font-weight-bold">Our Latest Magazine</div>
                    </div>
                    <div class="py-2">

                        <div>
                            <div class="row">
                                <a data-target="#modalIMG" data-toggle="modal" href="#" class="color-gray-darker td-hover-none  mx-auto mx-sm-3">
                                <img class="card-img-top card_img_size" src="{{ get_images_url() }}/standard/pdfs/{{latest_magazine.filename}}.png">
                                </a>
                            </div>
                            <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modalIMG" role="dialog" tabindex="-1">
                                <div class="modal-dialog modal-dialog-magazine modal-lg" role="document">
                                    <div class="modal-content modal-content-magazine">
                                    <div class="modal-body modal-body-magazine mb-0 p-0">
                                        <a href="{{ get_images_url() }}/pdfs/{{latest_magazine.filename}}" download target="_blank">
                                        <img src="{{ get_images_url() }}/standard/pdfs/{{latest_magazine.filename}}.png" style="width:100%">
                                        </a>
                                    </div>
                                    <div class="modal-footer modal-footer-magazine">
                                        <div>
                                        <a href="{{ get_images_url() }}/pdfs/{{latest_magazine.filename}}" target="_blank" download>Download</a>
                                        </div>
                                        <div>
                                        <a href="{{ get_images_url() }}/standard/pdfs/{{latest_magazine.filename}}.png" data-dismiss="modal">Close</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="blue-text mag-text">
                        <a href="{{ get_images_url() }}/pdfs/{{latest_magazine.filename}}" download target="_blank">
                        NEW ACROPOLIS MAGAZINE - {{latest_magazine.title|upper}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="empty_space_sm"></div>

{% block block_footer %}

{% if not config.get('SHOW_RESOURCE_MAINTENANCE') %}
<div class="bottom-band bottom sticky">
    <div class="text-center row" style="margin-top: 10px;">
        <div class="col text-right p-0" style="margin-top:-10px;">Please add postage and packing</div>
        <div class="col" style="padding-right: 100px;">
            <form target="paypal" action="{{ get_paypal_url() }}" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="{{config['PAYPAL_DELIVERY']}}">
                <input type="hidden" name="on0" value="Postage">
                <input type="hidden" name="currency_code" value="GBP">
                <input type="hidden" name="shopping_url" value="{{ config['FRONTEND_BASE_URL'] }}/shop">
                <select class="form-control" name="os0" style="height:30px;width:200px;font-size: 0.8em; float: left; margin-left:10px;">
                    <option value="UK">UK £2.00</option>
                    <option value="Europe">Europe £4.50</option>
                    <option value="RoW">Rest of the World £6.00</option>
                </select>
                <input type="image" src="/static/images/add_to_cart_orange.png" style="height:30px; float:left; margin-left:10px;" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
            </form>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% endblock %}