beautifulsoup4==4.6.1
click==5.1
Flask==1.1.4
Flask-Script==2.0.5
flake8==3.7.4
Flask-WTF==0.14.2
freezegun>=0.3.5
google-cloud-logging==2.5.0
google-cloud-ndb==1.11.1
gunicorn==19.9.0
iso8601==0.1.12
jsonschema==2.6.0
markupsafe==1.1.1
mock==2.0.0
monotonic>=0.1
protobuf==3.20.0
pytest==3.5
pytest-cov==2.5.1
pytest-eradicate==0.0.3
pytest-flask==0.10.0
pytest-mock==1.6.2
pytz==2019.3
PyJWT==2.4.0
requests>=2.0.0
requests_oauthlib==1.2.0
requests_toolbelt==0.8.0
textile==3.0.4
virtualenv==16.0.0
Werkzeug==0.16.0
WTForms==2.2.1

git+https://github.com/NewAcropolis/na-common.git@4efb1dabcaa55e0c24562f7dcb56f429e90b45c1#egg=na-common
