@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.fit-image{
    width: 100%;
    object-fit: cover;
    height: 280px; /* only if you want fixed height */
    }

.alt-background {
    background-color: rgb(157, 163, 162) !important;
}

.navbar-menu{
    font-family: 'Noto Sans','AvenirNext-DemiBold',Avenir,Helvetica,Arial,serif;
    background-color: rgb(157, 163, 162);
    border-bottom: solid 10px rgb(238,191,109);
    overflow: hidden;
}

.nav-link.shop {
    font-size: 0.8em;
    color: black;
}

.nav-link.magazine {
    font-size: 0.8em;
    color: #c3c1c1;
}

.dropdown-item.magazine {
    font-size: 0.8em !important;
    color: #c3c1c1 !important;
}

.dropdown-item.active.magazine {
    font-size: 0.8em;
    color: black;
}

.dropdown-item.active {
    color: black;
    background-color: #f5d737 !important;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: #f5d737;
}

.nav-link.active.magazine {
    font-size: 0.8em;
    color: black;
}
  
.nav-link.active {
    color: black;
    background-color: #f5d737 !important;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: #f5d737;
}

.nav-link.active.mag {
    color: black;   
    background-color: #e891ea !important;
    border-bottom: #e891ea;
}

.nav-link.delivery {
    font-size: 0.8em;
    color: black;
}

.nav-link.active.delivery {
    color: black;   
    background-color: #7ff1e2 !important;
    border-bottom: #7ff1e2;
}

.nav-link.buygift {
    font-size: 0.8em;
    color: black;
}

.nav-link.active.buygift {
    color: black;   
    background-color: #55a718 !important;
    border-bottom: #55a718;
}

.nav-tabs {
    border-bottom: 3px solid #f5d737;
}

.nav-tabs.mag {
    border-bottom: 3px solid #e891ea;
}

.nav-tabs.delivery {
    border-bottom: 3px solid #7ff1e2;
}

.nav-tabs.buygift {
    border-bottom: 3px solid #55a718;
}

.mag img {
    width: 200px;
}

.mag-text {
    font-size: 0.8em;
}

.blue-text {
    color: #3d86f3;
}

.book-image img{
    width:280px;
}

#books {
    font-size: 0.7em;
}

.price {
    border: 1px solid black;
    font-size: 1.5em !important;
    height:30px;
}

.alt-row-colour {
    background-color: #f5f5f5;
}

/* cart animation */

.cart-button {
    position: relative;
    padding: 7px;
    width: 140px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(238,191,109);
    outline: none;
    cursor: pointer;
    color: #fff;
    transition: .3s ease-in-out;
    overflow: hidden;
}

.cart-button:hover {
    background-color: rgb(238,191,109);
}

.cart-button:active {
    transform: scale(.9);
}

.cart-button .fa-shopping-cart {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -10%;
    font-size: 2em;
    transform: translate(-50%, -50%);
}

.cart-button .fa-box {
    position: absolute;
    z-index: 3;
    top: -20%;
    left: 52%;
    font-size: 1.2em;
    transform: translate(-50%, -50%);
}

.cart-button span {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    font-size: 1.2em;
    color: #FFF;
    transform: translate(-50%, -50%);
}

.cart-button span.add-to-cart {
    opacity: 1;
}

.cart-button span.added {
    opacity: 0;
}

.cart-button.clicked .fa-shopping-cart {
    animation: cart 1.5s ease-in-out forwards;
}

.cart-button.clicked .fa-box {
    animation: box 1.5s ease-in-out forwards;
}

.cart-button.clicked span.add-to-cart {
    animation: txt1 1.5s ease-in-out forwards;
}

.cart-button.clicked span.added {
    animation: txt2 1.5s ease-in-out forwards;
}

@keyframes cart {
    0% {
        left: -10%;
    }

    40%,
    60% {
        left: 50%;
    }

    100% {
        left: 110%;
    }
}

@keyframes box {

    0%,
    40% {
        top: -20%;
    }

    60% {
        top: 40%;
        left: 52%;
    }

    100% {
        top: 40%;
        left: 112%;
    }
}

@keyframes txt1 {
    0% {
        opacity: 1;
    }

    20%,
    100% {
        opacity: 0;
    }
}

@keyframes txt2 {

    0%,
    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
