.fit-image{
    width: 100%;
    object-fit: cover;
    height: 280px; /* only if you want fixed height */
    }

.alt-background {
    background-color: rgb(157, 163, 162) !important;
}

.navbar-menu{
    font-family: 'AvenirNext-DemiBold',Avenir,Helvetica,Arial,serif;
    background-color: rgb(157, 163, 162);
    border-bottom: solid 10px rgb(238,191,109);
    overflow: hidden;
}

.nav-link.shop {
    font-size: 0.8em;
    color: black;
}
  
.nav-link.active {
    color: #495057;
    background-color: #f5d737 !important;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: #f5d737;
}

.nav-link.active.mag {
    color: black;   
    background-color: #e891ea !important;
    border-bottom: #e891ea;
}

.nav-link.delivery {
    font-size: 0.8em;
    color: black;
}

.nav-link.active.delivery {
    color: black;   
    background-color: #7ff1e2 !important;
    border-bottom: #7ff1e2;
}

.nav-tabs {
    border-bottom: 3px solid #f5d737;
}

.nav-tabs.mag {
    border-bottom: 3px solid #e891ea;
}

.nav-tabs.delivery {
    border-bottom: 3px solid #7ff1e2;
}

.mag img {
    width: 200px;
}

.mag-text {
    font-size: 0.8em;
}

.blue-text {
    color: #3d86f3;
}

.book-image img{
    width:280px;
}

#books {
    font-size: 0.7em;
}

.price {
    border: 1px solid black;
    font-size: 1.5em !important;
    height:30px;
}

.alt-row-colour {
    background-color: #f5f5f5;
}
