{% extends "base.html" %}
{% block content %}
<div class="container ">
    {% if not api_workers_running() %}
    <div class="row">
        <div class='col-sm text-danger'>
            No workers running
        </div>
    </div>
    {% endif %}
    <div class="row">
        {% if user_has_permissions('admin') %}
        <div class='col-sm'>
            <a href='/admin/api_interstitial?target=users'>Users {% if get_users_need_access() %} ({{ get_users_need_access()|length }}) {% endif %}</a>
        </div>
        {% endif %}
        {% if user_has_permissions('event') %}
        <div class='col-sm'>
            <a href='/admin/events'>Events</a> / <a href='/admin/api_interstitial?target=events/attendance'>Attendance</a>
        </div>
        {% endif %}
        {% if user_has_permissions('email') %}
        <div class='col-sm'>
            <a href='/admin/emails'>Emails</a>
        </div>
        {% endif %}
        {% if user_has_permissions('magazine') %}
        <div class='col-sm'>
            <a href='/admin/api_interstitial?target=magazines'>Magazines</a>
        </div>
        {% endif %}
    </div>
    <div class="row">
        {% if user_has_permissions('cache') %}
        <div class='col-sm'>
            <a href='/admin/cache'>Caches</a> / <a href='/admin/queue'>Queue</a>
        </div>
        {% endif %}
        {% if user_has_permissions('order') %}
        <div class='col-sm'>
            <a href='/admin/api_interstitial?target=orders'>Orders</a>
        </div>
        {% endif %}
        {% if user_has_permissions('article') %}
        <div class='col-sm'>
            <a href='/admin/api_interstitial?target=articles'>Articles</a> / <a href="/admin/api_interstitial?target=articles/zipfile">Zipfile</a>
        </div>
        {% endif %}
        {% if user_has_permissions('member') %}
        <div class='col-sm'>
            <a href='/admin/api_interstitial?target=members'>Members</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
