{% extends "base.html" %}
{% block extra_head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/en-gb.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.en-GB.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.standalone.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css"/>
{% endblock %}
{% block content %}

{% if user_has_permissions('email') %}
<div class="container pb-3 text-right" style="width: 800px;">
    {% if form.errors or errors %}
    <div id='errors' class='text-left'>
        {% if form.errors %}
        <div class='text-danger'>{{ form.errors }}</div>
        {% endif %}
        {% if errors %}
        <div class='text-danger'>{{ errors }}</div>
        {% endif %}
    </div>
    {% endif %}
    <form class="form" id="emails_form" method="post">{{ form.csrf_token }}
        {{form.email_state}}
        {{form.events_emailed}}
        <div class="row">
            <div class='ml-3 col-12'>
                <div class='row'>
                    {{form.emails}}&nbsp;<button id="reload" type="button" class="btn btn-info">Reload</button>
                </div>
                <div class='row'>
                    <div id='status_bar' class='text-left col-6 rounded mt-2 bg-primary text-white'>new</div>
                </div>
                <div class ='row text-left mt-1'>
                    <div id='emails_sent_counts' ></div>
                </div>
                <div id="admin_email_sent" class="row d-none text-left"></div>
                <div id="pending_block" class="row d-none mb-2 text-left">
                    Email will be processed after&nbsp;<span id="held_until"></span>,&nbsp;<a id="cancel" href="">cancel</a>&nbsp;to stop processing, or&nbsp;<a id="play_now" href="">process now</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class='col-xs-6'>
                {{form.email_types}}
            </div>
        </div>
        <div id="has_email">
            <div id='events_block'>
                <div class="row">
                    <div id="has_event" class='col-s-8' style='display:none;'>
                        {{form.events}}
                    </div>
                    <div id="no_event" class='col-s-8' style='display:none;'>
                        No events
                    </div>
                </div>
                <div id="event_textblocks">
                    <div class="row">
                        <div class='col-s-6 text-left'>
                            <div>Extra text</div>
                            {{form.extra_txt(cols=60)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-s-6 text-left'>
                            <div>Details</div>
                            {{form.details(rows=10, cols=60)}}
                        </div>
                    </div>
                </div>
            </div>
            <div id='magazine_block'>
                <div class="row">
                    <div class='col-s-6 text-left'>
                        <div id='magazine_title'></div>
                        <div id='magazine_image'></div>
                    </div>
                </div>
                <div class="row">
                    <div class='col-s-6 text-left'>
                        <div>Please preview this email using the button below</div>
                        <div>Update the topics in <a id='magazine_link'>magazine admin</a></div>
                    </div>
                </div>
            </div>
            <div id='announcement_block'>
                <div class="row">
                    <div class='col-s-6 text-left'>
                        Announcement
                    </div>
                </div>
            </div>
            <div id="dates_block">
                <div id="datepicker_block">
                    <div class="row">
                        <div class='col--xs-4'>
                            <div style='text-align:center;'>Send starts at</div>
                            <div id="_send_starts_at" data-date=""></div>
                            {{form.send_starts_at}}
                        </div>
                        <div class='col--xs-2 ml-5'>
                            <div style='text-align:center;'>Expires</div>
                            <div id="_expires" data-date=""></div>
                            {{form.expires}}
                        </div>
                    </div>
                </div>
                <div id="dateshow_block">
                    <div class="row">
                        <div class='col--xs-4'>
                            <div style='text-align:center;'>Sent from <span id="sent_from"></span></div>
                        </div>
                        <div class='col--xs-2 ml-5'>
                            <div style='text-align:center;'>Expired on <span id="expired_on"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="no_email">
            <div class="row col-s-6">
                    No emails to send
            </div>
        </div>        
        <div id="no_magazine_email">
            <div class='row col-s-6'>
                Magazine emails are created when a <a href="/admin/magazines">new magazine</a> is uploaded
            </div>
        </div>        
        <hr>
        <div class="justify-content-end">
            <button id='preview' type="submit" class="btn btn-outline-info">Preview</button>
            <button id="draft" type="submit" class="btn btn-default">Draft</button>
            <button id='ready' type="submit" class="btn btn-outline-warning">Ready / Send admin email</button>
            {% if is_admin_user() %}
            <button id="send" type="submit" class="btn btn-outline-success">Send</button>
            <button id="rejectBtn" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#rejectModal">Reject</button>

            <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="rejectModalLabel" style='white-space:pre;'>Enter rejection reason:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                        <div class="form-group">
                            {{ form.reject_reason(class_="form-control") }}
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="reject" type="submit" class="btn btn-outline-danger">Reject</button>
                    </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <a href="/admin" id="return" name="return" class="btn btn-outline-secondary">Return</a>
        </div>
    </form>
</div>
<script charset="utf-8" type="text/javascript">
    var events = [];
    var event_id = '';
    var has_expired = false;
    var email_json = null;
    var pending = false;
    $(function() {
        var elements = {
            _emails: $('#emails'),
            _email_types: $('#email_types'),
            _events: $('#events'),
            _details: $('#details'),
            _extra_txt: $('#extra_txt'),
            _send_starts_at: $('#_send_starts_at'),
            _expires: $('#_expires'),
            _emails_sent_counts: $('#emails_sent_counts'),
            _admin_email_sent: $('#admin_email_sent')
        };

        $('#_send_starts_at').datepicker({
            format: 'yyyy-mm-dd',
        });

        $('#_send_starts_at').on('changeDate', function() {
            start_date = $('#_send_starts_at').datepicker('getFormattedDate');
            if (start_date > $('#_expires').datepicker('getFormattedDate')) {
                $('#_expires').datepicker("setDate", start_date);
            }
        });

        $('#_expires').datepicker({
            format: 'yyyy-mm-dd',
        });

        updateEmail();

        function updateEmail() {
            var send = {
                email: elements._emails.val()
            };
            has_expired = false;

            if (elements._email_types.val() == 'event') {
                for (i=0; i<elements._events[0].length; i++){
                    found = false;
                    for (j=0; j<events.length; j++) {
                        if (events[j]['value'] == elements._events[0].options[i].value) {
                            found = true;
                            break;
                        }
                    }
                    if (found) continue;
                    events.push(
                        {
                            'name': elements._events[0].options[i].text,
                            'value': elements._events[0].options[i].value
                        });
                }
            }

            if (!elements._emails.val()) {
                update_for_email_state('new');
                event_id = '';
                email_json = null;
                elements._send_starts_at.datepicker("setDate", new Date());
                elements._admin_email_sent.attr('class', 'd-none'); 

                if (elements._email_types.val() == 'magazine') {
                    setDisplayBlocks();
                }
                else if (elements._email_types.val() == 'event') {
                    elements._emails_sent_counts.attr('style', 'display:none;');
                    expires = moment(new Date()).add(14, 'days').format("YYYY-MM-DD");
                    elements._expires.datepicker("setDate", expires);

                    $.getJSON("{{ url_for('main._get_event_dates', date_type='send') }}", send, function(data) {
                        if (data) {
                            elements._send_starts_at.datepicker("setDate", data['send_starts_at']);
                        }
                    });

                    updateEvents();
                }
                return;
            }
            else {
                $.getJSON("{{ url_for('main._get_email') }}", send, function(data) {
                    if (data) {
                        if (data["pending"]) {
                            pending = true;
                            $('#pending_block').attr('class', 'row mb-2 text-left');
                            $("#held_until").html(data['held_until']);
                            $("#play_now").attr('href', "{{ url_for('main.queue') }}/pending_emails/id/" + data['id']);
                            $("#cancel").attr('href', "{{ url_for('main._cancel_pending_email') }}?email=" + data['id']);
                        } else {
                            pending = false;
                            $('#pending_block').attr('class', 'd-none');
                        }

                        console.log(data);
                        email_json = data;
                        elements._email_types.val(data['email_type']);
                        if (data['email_type'] == 'magazine') {
                            elements._emails_sent_counts.attr('style', 'display:block;');
                            elements._send_starts_at.datepicker("setDate", data['send_starts_at']);
                            elements._expires.datepicker("setDate", data['expires']);

                            event_id = '';

                            $('#magazine_title').text(data['magazine']['title']);
                            $('#magazine_image').html('<img src="{{get_images_url()}}/thumbnail/pdfs/' + data['magazine']['filename'] + '.png">');
                            $('#magazine_link').attr('href', '/admin/magazines/' + data['magazine_id']);

                            setDisplayBlocks();
                        }
                        else if (data['email_type'] == 'event') {
                            elements._emails_sent_counts.attr('style', 'display:block;');
                            var found = false;
                            for (i=0; i<events.length; i++) {
                                if (events[i]['value'] == data['event']['value']) {
                                    found = true;
                                    break;
                                }
                            }
                            if (!found) {
                                events.push({
                                    'name': data['event']['text'],
                                    'value': data['event']['value']
                                });
                            }
                            has_expired = data['event']['has_expired']

                            elements._events.val(data['event_id']);
                            elements._details.val(data['details']);
                            elements._extra_txt.val(data['extra_txt']);
                            elements._send_starts_at.datepicker("setDate", data['send_starts_at']);
                            elements._expires.datepicker("setDate", data['expires']);
                            event_id = data['event_id'];

                            updateEvents();
                        }
                        elements._emails_sent_counts.html(
                            '<span class="text-success">success: ' + data['emails_sent_counts']['success'] + '</span> - ' +
                            '<span class="text-danger">failed: ' + data['emails_sent_counts']['failed'] + '</span> - ' +
                            '<span class="text-primary">total to send: ' + data['emails_sent_counts']['total_active_members'] + '</span>'
                        );
                        if (data['admin_email_sent_at']) {
                            elements._admin_email_sent.attr('class', 'row'); 
                            elements._admin_email_sent.html(
                                'Admin email sent: ' + data['admin_email_sent_at']
                            );
                        }
                        else {
                            elements._admin_email_sent.attr('class', 'd-none'); 
                        }
                        update_for_email_state(data['email_state'], data);
                    }
                });
            }
        }

        function updateExpiry() {
            var send = {
                event: elements._events.val()
            };

            if (!elements._events.val()) {
                return;
            }

            $.getJSON("{{ url_for('main._get_event_dates', date_type='last') }}", send, function(data) {
                if (data) {
                    elements._expires.datepicker("setDate", data['last_event_date']);
                }
            });
        }

        $('#emails').on('change', function() {
            {% if form.errors or errors %}
            $('#errors').attr('style', 'display:none;');
            {% endif %}
            updateEmail();
        });

        $('#events').on('change', function() {
            console.log('json' + email_json);
            if (email_json == null) {
                updateExpiry();
            }
            updateEventDetails();
        });

        $('#email_types').on('change', function() {
            setDisplayBlocks();
        });

        $('#draft').on('click', function() {
            $('#email_state').val('draft');
        })

        $('#ready').on('click', function() {
            $('#email_state').val('ready');
        })

        $('#reject').on('click', function() {
            $('#rejectModal').modal('toggle');
            $('#rejectBtn').prop('disabled', true);
            $('#email_state').val('rejected');
        })

        $('#send').on('click', function() {
            $('#email_state').val('approved');
        })

        $('#reload').on('click', function() {
            $.getJSON("/admin/_update_cache/get_latest_emails", null, function(data) {
                alert(data['response']);
                location.reload();
            });
        });

        $('#preview').on('click', function() {
            var send = {
                'details': $('#details').val(),
                'extra_txt': $('#extra_txt').val(),
                'email_type': $('#email_types').val() 
            }

            if (send['email_type'] == 'event') {
                send['event_id'] = $('#events').val();
            }
            else if (send['email_type'] == 'magazine') {
                send['magazine_id'] = email_json['magazine_id'];
            }

            var preview = window.open("{{API_BASE_URL}}/email/preview?data=" + encodeURIComponent(JSON.stringify(send)));
            setTimeout(function() {
                preview.postMessage(send, '*');
            }, 1000);

            return false;

        });

        function update_for_email_state(email_state, data) {
            var base_css = 'text-left col-6 rounded mt-2 ';
            var css = '';
            switch(email_state) {
                case 'new': css = 'bg-primary text-white'; break;
                case 'draft': css = 'bg-default'; break;
                case 'ready': css = 'bg-warning'; break;
                case 'rejected': css = 'bg-danger text-white'; break;
                case 'approved': css = 'bg-success text-white'; break;
            }
            if (has_expired) {
                $('#status_bar').text('Preview only, event has finished');
                $('#status_bar').attr('class', base_css + 'bg-info text-white');
                $('#datepicker_block').attr('style', 'display:none;');
                $('#dateshow_block').attr('style', 'display:block;');

                $('#sent_from').text(data['send_starts_at']);
                $('#expired_on').text(data['expires']);
            }
            else {
                $('#status_bar').attr('class', base_css + css);
                $('#status_bar').text(email_state);
                $('#datepicker_block').attr('style', 'display:block;');
                $('#dateshow_block').attr('style', 'display:none;');
            }
            $('#draft').prop('disabled', has_expired);
            {% if is_admin_user() %}
                $('#rejectBtn').prop('disabled', has_expired || $.inArray( email_state, [ "draft", "new" ] ) >= 0);
                $('#ready').prop('disabled', has_expired);
                $('#send').prop('disabled', has_expired || email_state != 'ready' || pending);
            {% endif %}
        }

        function updateEvents() {
            $('#events').html('');
            for (i=0; i<events.length; i++){
                if (events[i]['value'] == event_id || !$('#events_emailed').val().includes(events[i]['value'])) {
                    elements._events.append(
                        $('<option>', {
                            value: events[i]['value'],
                            text: events[i]['name']
                        })
                    );
                }
            }

            if (elements._events.length > 1) {
                $('#events').find('option').get(0).remove();
            }

            if (event_id != '') {
                elements._events.val(event_id);
            }
            updateExpiry();
            setDisplayBlocks();
        }

        function updateEventDetails() {
            var send = {
                event: elements._events.val()
            };
            $('#details').val('');

            $.getJSON("{{ url_for('main._get_default_details') }}", send, function(data) {
                if (data) {
                    $('#details').val(data['details']);
                }
            });  
        }

        function setDisplayBlocks() {
            if (elements._emails.val() == '') {
                elements._email_types.prop('disabled', false);
                $('#emails_sent_counts').attr('style', 'display:none;');
                $('#announcement_block').attr('style', 'display:none;');
                $("#has_email").attr('style', 'display:none;');
                $("#no_magazine_email").attr('style', 'display:none;');
                if (elements._email_types.val() == 'magazine') {
                    $("#no_email").attr('style', 'display:none;');
                    $("#no_magazine_email").attr('style', 'display:block;');
                    $('#events_block').attr('style', 'display:none;');
                }
                else if (elements._email_types.val() == 'event') {
                    $('#magazine_block').attr('style', 'display:none;');
                    // if (elements._events.length == 1) {
                    if (elements._events.val() == '' || !elements._events.val()) {
                        $("#has_event").attr('style', 'display:none;');
                        $("#no_event").attr('style', 'display:block;');
                        $('#events_block').attr('style', 'display:block;');
                        $("#has_email").attr('style', 'display:block;');
                        $("#event_textblocks").attr('style', 'display:none;');
                        $("#dates_block").attr('style', 'display:none;');
                    }
                    else {
                        elements._events.prop('disabled', elements._emails.val() != '');
                        $("#has_event").attr('style', 'display:block;');
                        $("#no_event").attr('style', 'display:none;');
                        $('#events_block').attr('style', 'display:block;');
                        $("#has_email").attr('style', 'display:block;');
                        $("#no_email").attr('style', 'display:none;');
                        $("#event_textblocks").attr('style', 'display:block;');
                        $("#dates_block").attr('style', 'display:block;');
                        updateEventDetails();
                    } 
                }
                else {
                    $("#no_magazine_email").attr('style', 'display:none;');
                    $("#no_email").attr('style', 'display:block;');
                }
            }
            else {
                elements._events.prop('disabled', elements._emails.val() != '');
                elements._email_types.prop('disabled', elements._emails.val() != '');

                $("#has_event").attr('style', 'display:none;');
                $("#no_event").attr('style', 'display:none;');

                $("#has_email").attr('style', 'display:block;');
                $("#no_email").attr('style', 'display:none;');
                $("#no_magazine_email").attr('style', 'display:none;');
                $("#dates_block").attr('style', 'display:block;');
                if ($('#email_types').val() == 'event') {
                    if (elements._events.val() == '') {
                        $("#has_event").attr('style', 'display:none;');
                        $("#no_event").attr('style', 'display:block;');
                    }
                    else {
                        $("#has_event").attr('style', 'display:block;');
                        $("#no_event").attr('style', 'display:none;');
                    } 

                    $('#events_block').attr('style', 'display:block;');
                    $('#magazine_block').attr('style', 'display:none;');
                    $('#announcement_block').attr('style', 'display:none;');
                    $("#event_textblocks").attr('style', 'display:block;');
                }
                else if ($('#email_types').val() == 'magazine') {
                    $('#events_block').attr('style', 'display:none;');
                    $('#magazine_block').attr('style', 'display:block;');
                    $('#announcement_block').attr('style', 'display:none;');
                } else if ($('#email_types').val() == 'announcement') {
                    $('#events_block').attr('style', 'display:none;');
                    $('#magazine_block').attr('style', 'display:none;');
                    $('#announcement_block').attr('style', 'display:block;');
                }
            }
        }

        $( "#emails_form" ).submit(function() {
            prepSubmit();
        });

        function prepSubmit() {
            elements._events.prop('disabled', false);
            elements._email_types.prop('disabled', false);
            $('#send_starts_at').val(elements._send_starts_at.datepicker('getFormattedDate'));
            $('#expires').val(elements._expires.datepicker('getFormattedDate'));
            $('#send').prop('disabled', true);
        }

        $('#copy-email').on('click', function() {
            today = moment(new Date()).format("YYYY-MM-DD");
            elements._send_starts_at.datepicker("setDate", today);
            $("#emails").prop("selectedIndex", 0);
            update_for_email_state('new');
        });

        {% if selected_email_id %}
        $("#emails").val("{{selected_email_id}}").change();
        {% endif %}
    });
</script>
{% endif %}
{% endblock %}
