<!DOCTYPE html>
<html lang="en">
  <head>
      {% block first_head %}{% endblock %}
      {% block head %}
      {% block style %}
      <link rel="stylesheet" href="/static/css/style.css" />
      <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
      <meta name="format-detection" content="telephone=no">
      <meta name="google" content="notranslate" />
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />    
      {% endblock %}
      <title>{% block title %}{% endblock %}</title>
      {% endblock %}
      {% block extra_head %}
      {% endblock %}
  </head>
  <body>
    <div class='sticky-top p-1 bg-light'>
      {% if API_BASE_URL %}
      This is a test website - for the live website go to <a href='https://www.newacropolisuk.org'>https://www.newacropolisuk.org</a>
      {% else %}
      This is a prototype website, there are no data connections - for the live website go to <a href='https://www.newacropolisuk.org'>https://www.newacropolisuk.org</a>
      {% endif %}
    </div>
      {% include "components/header.html" %}
      <div id="content">{% block content %}{% endblock %}</div>
      {% include "components/footer.html" %}
      {% if session.get('error') %}<div class='m-1'>{{ session['error']}}</div>{% endif %}
      {% if error %}<div class='m-1'>{{ error }}</div>{% endif %}
      <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
      <script>
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#216942",
            "text": "#b2d192"
          },
          "button": {
            "background": "#afed71"
          }
        },
        "theme": "edgeless",
        "content": {
          "href": "/static/pdfs/Website_Privacy_Notice.pdf"
        }
      });
      </script>
    </body>
</html>
