<!DOCTYPE html>
<html lang="en">
  <head>
      {% block first_head %}{% endblock %}
      {% block head %}
      {% block style %}
      <link rel="stylesheet" href="/static/css/style.css" />
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
      <meta name="format-detection" content="telephone=no">
      <meta name="google" content="notranslate" />
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />    
      <meta name="facebook-domain-verification" content="{{config['FACEBOOK_VERIFICATION']}}" />
      {% endblock %}
      <title>{% block title %}{% endblock %}</title>
      {% endblock %}
      {% block extra_head %}
      {% endblock %}
  </head>
  <body>
    {% if is_not_live() %}
    <div class="corner-ribbon bottom-left sticky heketgreen">{{ get_env() }}</div>
    {% endif %}
    {% block first_body %}{% endblock %}
    {% if is_not_live() or not API_BASE_URL %}
    <div class='sticky-top p-1 bg-light d-none'>
      {% if not API_BASE_URL %}
      This is a prototype website, there are no data connections - for the live website go to <a href='https://www.newacropolisuk.org'>https://www.newacropolisuk.org</a>
      {% endif %}
    </div>
    {% endif %}
      {% include "components/header.html" %}
      {% block post_header%}{% endblock %}
      <div id="content">{% block content %}{% endblock %}</div>
      {% include "components/footer.html" %}
      {% if session.get('error') %}<div class='m-1'>{{ session['error'] }}</div>{% endif %}
      {% block body_footer %}
      {% endblock %}
      {% if error %}<div class='m-1'>{{ error }}</div>{% endif %}
  </body>
</html>
