    <div class="container-fluid padding">
            <div class="row text-center padding">
              <div class="col-lg-12 subscribe_section">
                <h1>Subscribe to our free bi-monthly magazine !</h1>
                <h3>Reflective and concise articles on esoterica, philosophy, art, society and more…</h3>
              </div>
            </div>
          </div>

              
        <div class="container-fluid padding cream_backgroundcolour">
          <div class="row text-center ">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="pcv_padding">
                <div class="pcv_block">
                  <h1> Philosophy </h1>
                  <hr>
                  <p>Comparative study and a way of life aligned with our highest values</p>
                </div>
              </div>
              <img src="/static/images/philosophy_icon.png" class="upw">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="pcv_padding">
                <div class="pcv_block">
                  <h1> Culture </h1>
                  <hr>
                  <p>Enriching the social environment so all individuals can ﬁnd the nutrients they need to ﬂourish</p>
                </div>
              </div>
              <img src="/static/images/culture_icon.png" class="upw">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="pcv_padding">
                <div class="pcv_block">
                  <h1> Volunteering </h1>
                  <hr>
                  <p>To act because it is right and not becasuse it is proﬁtable</p>
                </div>
              </div>
              <img src="/static/images/volunteering_icon.png" class="upw">
            </div>
          </div>
        </div>

        <div class="container-fluid padding">
          <div class="row padding">
              <div class="col-md-3 col-sm-6">
                  <div class="card cardmulti bg-light">
                      <img class="card-img-top cardimgtopmulti" src="/static/images/featured1.png">
                      <div class="card-body">
                          <h4 id="article_1" class="card-title dark_grey_txt">Forty Years Fighting Racism and
                              Intolerance</h4>
                          <p class="card-text cardtextmulti">A century with no solidarity
                              One of the worst plagues that the twentieth century has had to
                              bear is racial discrimination. It has not only plunged over half of the human... <a
                                  href='/article/e07027ef-22b5-4c95-b7d5-cfdcd4d4c535'>READ MORE</a></p>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <div class="card cardmulti bg-light">
                      <img class="card-img-top cardimgtopmulti" src="/static/images/featured2.png">
                      <div class="card-body">
                          <h4 id="article_2" class="card-title dark_grey_txt">The Power of Symbols</h4>
                          <p class="card-text cardtextmulti">Symbols hold a powerful attraction for people. Even
                              today, in an age in which materialistic perspectives rule human thought, many ancient
                              symbols such as the ankh, the yin/yang, American Indian designs,... <a
                                  href='/article/226b43a7-91ac-4502-8528-db025276e49f'>READ MORE</a></p>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <div class="card cardmulti bg-light">
                      <img class="card-img-top cardimgtopmulti" src="/static/images/featured3.png">
                      <div class="card-body">
                          <h4 id="article_3" class="card-title dark_grey_txt">Britain&#39;s May Day Celebrations</h4>
                          <p class="card-text cardtextmulti">The present government has proposed changing the date of
                              the May Day Celebrations, currently fixed on the first Monday of May, to a day in
                              October (supposedly better for tourism!). Their... <a
                                  href='/article/c50ad106-4976-4be2-bbb2-871e2d1af957'>READ MORE</a></p>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <div class="card cardmulti bg-light">
                      <img class="card-img-top cardimgtopmulti" src="/static/images/featured4.png">
                      <div class="card-body">
                          <h4 id="article_4" class="card-title dark_grey_txt">Janus</h4>
                          <p class="card-text cardtextmulti">As we move into the New Year, it is interesting to
                              reflect on why the first month has been given the name of January. January is a time of
                              new beginnings,... <a href='/article/26954824-60d2-414d-add4-c3820eb920f2'>READ MORE</a>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>